<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
		<script>

			$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
				function validateValue(checkValue) {
					if(    typeof checkValue == 'undefined' 
							|| checkValue == null 
							|| checkValue == ''					){
						return true;
					}
					return false;
					
				}
			
				$('#memId').on('input', function(){
					$('#addMemberForm label').not('#memId').prop('disabled', true);
				  	$('#addMemberForm select').prop('disabled', true);
				  	$('#addMemberForm button').not('#checkBtn').prop('disabled', true);
				});
			
					$('#checkBtn').click(function(){
					 let memId = $('#memId').val();
					 
					if(validateValue(memId)){
						alert('회원의 아이디를 입력해주세요');
						$('#memId').focus();
						return false;					
					}					

					let request = $.ajax({
						  url: '/checkId',
						  method: 'GET',
						  data: { 'memId' : memId },
						  dataType: 'json'
					});
					
					//성공 
					request.done(function( isChecked ) {
						console.log(isChecked, '데이터타입 확인');
					  	  
						if(isChecked){
					  	  	alert('중복된 아이디가 존재합니다.');
					  	  	$('#memId').val('');
						  	$('#addMemberForm label').not('#memId').prop('disabled', true);
						  	$('#addMemberForm select').prop('disabled', true);
						  	$('#addMemberForm button').not('#checkBtn').prop('disabled', true);
							$('#memId').focus();
							return false;		
						}else{
						  	$('#addMemberForm label').not('#memId').prop('disabled', false);
						  	$('#addMemberForm select').prop('disabled', false);
						  	$('#addMemberForm button').not('#checkBtn').prop('disabled', false);
						}
					});
					
					//실패 
					request.fail(function( jqXHR, textStatus ) {
					  	  console.log('Request failed: ' + textStatus );
					}); 
				});
			
				/* 유효성검사를 구현하시오. (#submitBtn 를 클릭 시) */
				$('#submitBtn').click(function(){
					let isSubmit = true;
					
					$('#addMemberForm input').each(function(idx, item){
						let checkValue = $(item).val();
						let labelValue = $(item).parents('tr').find('label').text();
						if(validateValue(checkValue)){
							
							alert(`${labelValue}를 입력해주세요`);
							$(item).focus();
							isSubmit = false;
							
							return false;
						}
						
					});
				
					if(isSubmit) $('#addMemberForm').submit();
				});
			});
		</script>
	</th:block>
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<form >
        <section class="pxp-hero vh-100" style="background-color: var(--pxpMainColorLight);">
            <div class="row align-items-center pxp-sign-hero-container">
                <div class="col-xl-6 pxp-column">
                    <div class="pxp-sign-hero-fig text-center pb-100 pt-100">
                        <img src="/images/signup-big-fig.png" alt="Sign up">
                        <h1 class="mt-4 mt-lg-5">Create an account</h1>
                    </div>
                </div>
                <div class="col-xl-6 pxp-column pxp-is-light">
                    <div class="pxp-sign-hero-form pb-100 pt-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-xl-7 col-xxl-5">
                                <div class="pxp-sign-hero-form-content">
                                    <h5 class="text-center">회원 가입</h5> 
                                    <form class="mt-4" id="addMemberForm" action="/addMember">
                                       <tr>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="memId" placeholder="Id">
                                            <label for="pxp-signup-page-email">ID</label>
                                            <span class="fa fa-id-card-o"></span>
                                        </div> 	
                                       </tr>    
                                        <div>
                                            <button type="button" class="form-control mb-3 btn111" id="checkBtn" placeholder="Id중복체크">
                                            	<span class="fa fa-check">&nbsp;&nbsp;&nbsp;ID 중복체크</span>
                                            </button>
                                            
                                        </div>
                                                                                                      
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="memPw" placeholder="password">
                                            <label for="pxp-signup-page-password">Password</label>
                                            <span class="fa fa-lock"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="memName" placeholder="Name">
                                            <label for="pxp-signup-page-email">Name</label>
                                            <span class="fa fa-user"></span>
                                        </div>       
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="memEmail" placeholder="Email address">
                                            <label for="pxp-signup-page-email">Email</label>
                                            <span class="fa fa-envelope-o"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="memBirth" placeholder="Birth" >
                                            <label for="pxp-signup-page-email">Birth</label>
                                            <span class="fa fa-birthday-cake"></span>
                                        </div> 
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="memPhone" placeholder="Phone" >
                                            <label for="pxp-signup-page-email">Phone</label>
                                            <span class="fa fa-mobile"></span>
                                        </div>   
                                                                                                                                                                                             
                                        
                                        <div class="mt-4 text-center pxp-sign-hero-form-small">
                                            이미 가입 된 계정이 있다면 <a href="/login">로그인하기</a>
										<button type="button" id="submitBtn" class="btn rounded-pill pxp-sign-hero-form-cta">회원가입</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
						</div>
                    </div>
                </div>				
			</div>
		</section>
		<!--  end contents -->
		</form>
		
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
		
	</th:block>
	<!-- customJs end -->
</html>

