<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
                <h1>개인 정보 수정</h1>
                <p class="pxp-text-light">Modify Member</p>
                <form>
                    <div class="row mt-2 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">ID</label>
                                <input type="text" id="pxp-candidate-Password" class="form-control" placeholder="id" disabled>
                            </div>
                         </div>                            
                     </div>                 
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">PW</label>
                                <input type="text" id="pxp-candidate-Password" class="form-control" placeholder="변경할 비밀번호를 입력하세요">
                            </div>
                         </div>                            
                     </div>
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">Name</label>
                                <input type="text" id="pxp-candidate-Password" class="form-control" placeholder="Name" disabled>
                            </div>
                         </div>                            
                     </div>                                               
                    <div class="row mt-1 mt-lg-3">                          
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Email" class="form-label">E-mail</label>
                                <input type="text" id="pxp-candidate-Email" class="form-control" placeholder="변경할 이메일을 입력하세요">
                            </div>                            
                            </div>
                         </div>                                                             
                    <div class="row mt-1 mt-lg-3">                           
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Phone" class="form-label">Phone</label>
                                <input type="text" id="pxp-candidate-Phone" class="form-control" placeholder="변경할 전화번호를 입력하세요">
                            </div>                            
                            </div>
                            
                         </div>  
                    <div class="mt-2 mt-lg-4">
                            <a href="/modifyMember" class="btn rounded-pill pxp-section-cta"  onclick="alert('변경이 완료되었습니다.')">변경하기</a></button>  &emsp;&emsp; <a href="/myPage" >취소(마이페이지메인으로)</a>
                    </div>   
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
           