<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
		<script type="text/javascript" th:inline="javascript">
			$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
				const msg = [[${msg}]];
				
				if(msg != null) alert(msg);
			
				$('#resetBtn').click(function(){
					location.href = '/myPage';
				});
				// submitBtn 클릭시 '정말로 탈퇴하시겠습니까?' 확인 경고창 활성화 확인 버튼 클릭시 콘솔창에 
				// '회원탈퇴' 가 출력되도록 하시오. 
				$('#submitBtn').click(function(){
					let memPw = $('#memPw').val(); 
					
					// 비밀번호 유효성검사
					if(		typeof memPw == 'undefined' 
					    ||	memPw == null
					    ||	memPw == ''){
					    alert('회원의 비밀번호를 입력하세요');
					 	$('#memPw').focus();   
					 	return false;
					}
				
					if(confirm('정말로 탈퇴하시겠습니까?')) $('#removeMemberForm').submit();
				});
			});
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
         <h1>회원 탈퇴</h1>
         <p class="pxp-text-light">Remove Member</p>

	<form id="removeMemberForm" th:action="@{/removeMember}" name="removeMemberForm" method="post">
             <div class="row mt-4 mt-lg-5" >
                 <div class="col-md-6">
                     <div class="mb-3">
                         <label for="memId" class="form-label">ID</label>
                         <input type="text" id="memId" class="form-control" name="memId" >
                     </div>                 
                     <div class="mb-3">
                         <label for="pxp-company-old-password" class="form-label">PW</label>
                         <input type="text" id="memPw" class="form-control" placeholder="비밀번호 확인" name="memPw">
                     </div>

             </div>
             <br>
              <div class="mt-4 mt-lg-5">
                  <button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">탈퇴</button>&nbsp;&nbsp;
							<a th:href="@{/myPage}" class="btn rounded-pill pxp-section-cta-o ms-3">취소</a>     
              </div>
             </div>
         </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

