<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
         <h1>회원 탈퇴</h1>
         <p class="pxp-text-light">Remove Member</p>

         <form>
             <div class="row mt-4 mt-lg-5" >
                 <div class="col-md-6">
                     <div class="mb-3">
                         <label for="pxp-company-old-password" class="form-label">PW</label>
                         <input type="password" id="pxp-company-old-password" class="form-control" placeholder="PW를 입력해주세요">
                     </div>
                     
                 <div class="row mt-10 mt-lg-3" style="line-height: 1">
                 <div class="col-xxl-10">
                     <div class="mb-3">                        
                     <label for="pxp-company-job-category" class="form-label">탈퇴 사유</label>
                         <select id="pxp-company-job-category" class="form-select">
                             <option>서비스가 마음에 들지 않음</option>
                             <option>자격증 합격</option>
                             <option>기타</option>
                         </select>
                         </div>
                         </div>
                                                  
                 </div>
             </div>
             <br>
             <div class="mt-4 mt-lg-2">
                 <a href="/main" class="btn rounded-pill pxp-section-cta"  onclick="if(!confirm('정말 탈퇴하시겠습니까?')){return false;}">탈퇴하기</a>
             </div>
             </div>
         </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

