<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents"> 
		<h1>멤버십 회원 목록</h1>
                <p class="pxp-text-light">MembershipMember List</p>
                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-2 order-sm-1">
                            <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                                <div class="pxp-company-dashboard-jobs-search mb-3">
                                <select class="form-select">
                                    <option>멤버십아이디</option>
                                    <option>기간</option>
                                    <option>상태</option>
                               </select>
                                	<div class="col-auto order-1 order-sm-2">
                                		<div class="pxp-company-dashboard-jobs-search-search-form">
                                    		<div class="input-group">
                                        		<span class="input-group-text"><span class="fa fa-search"></span></span>
                                        		<input type="text" class="form-control" placeholder="Search ID">
                                        		<button class="btn ms-2">Search</button>
                                    		</div>
                                		</div>
                            		</div>
                        		</div> 
                            </div>
                        </div>
                        
                    </div>
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th class="pxp-is-checkbox" style="width: 1%;"></th>
                                    <th style="width: 15%;">멤버십아이디</th>
                                    <th style="width: 15%;">멤버십기간</th>
                                    <th style="width: 25%;">멤버십시작일시</th>
                                    <th style="width: 25%;">멤버십만료일시</th>
                                    <th style="width: 15%;">멤버십상태</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead> 
                            <tbody>
                        
        				<th:block th:if="${not #lists.isEmpty(totalMembershipMemberList)}" th:each="mm : ${totalMembershipMemberList}">
                                <tr>
                                    <td></td>
                                    <td>
                                        <a  th:href="@{/totalMembershipMemberInfo(mmId=${mm.getMmId})}"  class="pxp-company-dashboard-job-title" 
                                        	th:text="${mm.mmId}">
                                        </a>
                                    </td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${mm.mmPeriod}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${mm.mmStartDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${mm.mmEndDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-date mt-1" th:text="${mm.mmState}"></div></td>
                                 </tr>
                                </th:block>    
                            </tbody>
                        </table>                                                                 
 
						<!-- page 넘김 start -->
                        <div class="row mt-4 mt-lg-5 justify-content-center align-items-center">
                            <div class="col-auto">
                                <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                                    <ul class="pagination pxp-pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- page 넘김 end -->
                    </div>
                <!-- 목록 end -->    
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
             