<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{member/layout/contentDefault}">
<!-- fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수 이름 -->
	<th:block layout:fragment="customScript">
		<script>
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			$('#resetBtn').click(function(){
				location.href = '/detailToDoList';
			});
		});
		</script>
	</th:block> 
	<th:block layout:fragment="customContents">
		<h1>투두리스트 수정</h1>
		<form id="modifyToDoListForm" th:action="@{/modifyToDoList}" name="myform" method="post">
              <div class="row mt-4 mt-lg-5">
                  <div class="col-xxl-8" style=" margin-left: 650px;">
                      <div class="row">
                      </div>
                      <div class="row">
                      </div><br>
                      <div class="row">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="toDoListCode" class="form-label"><h6>일정 코드</h6></label>
                                  <input type="text" id="toDoListCode" class="form-control" name="toDoListCode" placeholder="일정코드" readonly="readonly"
                                  		 th:value="${toDoList.toDoListCode}">
                              </div>
                          </div>
                      </div>
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="memId" class="form-label"><h4>회원 아이디</h4></label>
                                  <input type="text" id="memId" class="form-control" name="memId" placeholder="회원 아이디" readonly="readonly"
                                  		 th:value="${toDoList.memId}">
                              </div>
                          </div>
                      </div><br><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liCode" class="form-label"><h6>자격증 코드</h6></label>
                                  <input type="text" id="liCode" class="form-control" name="liCode" placeholder="자격증 코드" readonly="readonly"
                                  		 th:value="${toDoList.liCode}">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liName" class="form-label"><h6>자격증 이름</h6></label>
                                  <input type="text" id="liName" class="form-control" name="liName" placeholder="자격증 이름" 
                                  		 th:value="${toDoList.liName}">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="toDoListTitle" class="form-label"><h6>제목</h6></label>
                                  <input type="text" id="toDoListTitle" class="form-control" name="toDoListTitle" placeholder="자격증 내용" 
                                  		 th:value="${toDoList.toDoListTitle}">
                              </div>
                          </div>
                      </div>                      
                   
                      
                  </div>
              </div>
              <div class="mt-4 mt-lg-5" style=" margin-left: 850px;">
                  <button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
              </div>
          </form>
	<br>
	</th:block>
	
</html>