<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">
<!-- fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수 이름 -->
	<th:block layout:fragment="customScript">
		<script>
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			$('#resetBtn').click(function(){
				location.href = '/detailToDoList';
			});
		});
		</script>
	</th:block> 
	<!-- customContents start -->
	<th:block layout:fragment="customContents">

		<form id="deleteToDoListForm" th:action="@{/deleteToDoList}" name="myform" method="post">
              <div class="row mt-4 mt-lg-5">
                  <div class="col-xxl-8">
                      <div class="row">
                      </div>
                      <div class="row">
                      </div><br>
                      <div class="row">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="toDoListCode" class="form-label"><h6>일정 코드</h6></label>
                                  <input type="text" id="toDoListCode" class="form-control" name="toDoListCode" placeholder="일정코드" readonly="readonly"
                                  		 th:value="${toDoList.toDoListCode}">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
             <div class="mt-4 mt-lg-5">
                  <button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">삭제</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
             </div>
         </form>
	
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>