<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<section>
			<div class="pxp-container">
				<h1>일정목록</h1>
                <p class="pxp-text-light"></p>

                <div class="mt-4 mt-lg-5">
                    <!-- 검색 start -->
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-1 order-sm-2">
                            <div class="pxp-company-dashboard-jobs-search mb-3">
                                <div class="pxp-company-dashboard-jobs-search-search-form">
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Search jobs...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                   
                                    <th style="width: 10%;">일정코드</th>
                                    <th style="width: 13%;">일정등록아이디</th>
                                    <th style="width: 10%;">자격증 코드</th>
                                    <th style="width: 10%;">자격증 이름</th>
                                    <th style="width: 13%;">제목</th>
                                    <th style="width: 13%;">일정실행날짜</th>
                                    <th style="width: 11%;">일정등록일시</th>
                                    <th style="width: 11%;">일일총공부시간</th>
                                    <th style="width: 12%;">스톱워치/수정/삭제</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr>
                             
                                    <td>
                                       
                                    </td>
                                    <tr th:if="${not #lists.isEmpty(toDoListDetailList)}"
									th:each="l : ${toDoListDetailList}">
                                     
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.toDoListCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.memId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liCode}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liName}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.toDoListTitle}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.toDoListDay}"></div></td>                      
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.toDoListRegTime}"></div></td>   
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.toDayStudyTime}"></div></td>   
                                   <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            <a href="/recordStopwatch">
                                                	<li><button title="stopwatch"><i class="fa fa-clock-o" aria-hidden="true"></i></button></li>
                                                </a>
                                            <!-- 수정버튼 start -->
                                                <a href="#">
                                                	<li><button title="Edit"><span class="fa fa-pencil"></span></button></li>
                                                </a>
                                            <!-- 수정버튼 end -->
                                            <!-- 삭제버튼 start -->
                                                <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                            <!-- 삭제버튼 end -->     
                                             
                                                </a>                                          
                                            </ul>
                                        </div>
                                    </td>  
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                                                       
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(toDoListDetailList)}">
									<td colspan="9">등록된 정보가 없습니다.</td>
								</tr>                    
                                   
                                </tr>                      
                            </tbody>
                        </table>
						<!-- page 넘김 start -->
                        <div class="row mt-4 mt-lg-5 justify-content-center align-items-center">
                            <div class="col-auto">
                                <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                                    <ul class="pagination pxp-pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- page 넘김 end -->
                    </div>
                <!-- 목록 end -->    
                </div>
			</div>
		</section>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
		