<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<h1>부정 회원 목록</h1>
                <p class="pxp-text-light">Cheat Member list</p>

                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-2 order-sm-1">
                            <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                                <div class="pxp-company-dashboard-jobs-search mb-3">
                                <select class="form-select">
                                    <option>회원 아이디</option>
                                </select>
                                	<div class="col-auto order-1 order-sm-2">
                                		<div class="pxp-company-dashboard-jobs-search-search-form">
                                    		<div class="input-group">
                                        		<span class="input-group-text"><span class="fa fa-search"></span></span>
                                        		<input type="text" class="form-control" placeholder="Search ID">
                                        		<button class="btn ms-2">Search</button>
                                    		</div>
                                		</div>
                            		</div>
                        		</div> 
                            </div>
                        </div>
                        
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" class="form-check-input"></th>
                                    <th style="width: 9%;">신고자아이디</th>
                                    <th style="width: 9%;">부정회원아이디</th>
                                    <th style="width: 9%;">정지사유</th>
                                    <th style="width: 9%;">신고내용</th>
                                    <th style="width: 9%;">신고관련첨부파일</th>
                                    <th style="width: 9%;">신고일시</th>
                                    <th style="width: 9%;">진행상태</th>
                                    <th style="width: 9%;">승인자</th>
                                    <th style="width: 9%;">심사완료일시</th>
                                    <th style="width: 9%;">정지기간</th>
                                    <th style="width: 10%;">정지시작일시</th>
                                    <th style="width: 10%;">정지종료일시</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(cheatMemberList)}" th:each="cm : ${cheatMemberList}">
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td>
                                        <a href="#">
                                            <div class="pxp-company-dashboard-job-title" th:text="${cm.cmReportId}"></div>                                           
                                        </a>
                                    </td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportReason}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportContent}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportContent}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportFile}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportState}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportManager}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmReportJudgeDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmStopDate}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cm.cmStartDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-date mt-1" th:text="${cm.cmEndDatetime}"></div></td>
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            <!-- 수정버튼 start -->
                                                <a href="#">
                                                	<li><button title="Edit"><span class="fa fa-pencil"></span></button></li>
                                                </a>
                                            <!-- 수정버튼 end -->
                                            <!-- 삭제버튼 start -->
                                                <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                            <!-- 삭제버튼 end -->                                                 
                                            </ul>
                                        </div>
                                    </td>
                                </tr>                      
                            </tbody>
                        </table>
						<!-- page 넘김 start -->
                        <div class="row mt-4 mt-lg-5 justify-content-center align-items-center">
                            <div class="col-auto">
                                <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                                    <ul class="pagination pxp-pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- page 넘김 end -->
                    </div>
                <!-- 목록 end -->    
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
