<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
    <th:block layout:fragment="customScript">
		<script>
			$(function(){
				function validationCheck(data){
					if(typeof data == 'undefined' || data == '' || data == null || data == '대분류'){	
						return false;
					}
					return true;
				}
				// 자격증 대분류값 선택
				$(document).on('change','#licenseMainCategory', function(){
					$('#licenseSubCategory').prop('disabled', false);
					let lmcCode = $(this).val();
					
					if(validationCheck(lmcCode)){						
						var request = $.ajax({
						  url: '/getLicenseSubCategory',
						  method: 'GET',
						  data: { 'lmcCode' : lmcCode },
						  dataType: 'json'
						});	
						// 대분류값 선택 성공시 중분류명 조회
						request.done(function( data ) {
						  console.log(data);
						  $('#licenseSubCategory').children().remove();
						  for(let subCategory of data){
							  $('#licenseSubCategory').append(`<option value="${subCategory.lscCode}">${subCategory.lscName}</option>`);							 
						  }
						});
						// 대분류값 선택 실패시
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
					}
					
				});
				//대분류값 선택없이 중분류값 선택시
				$(document).on('click','.licenseSubCategoryDiv', function(){
					let isDisabled = $('#licenseSubCategory').prop('disabled');
					if(isDisabled) {
						alert('대분류를 선택해주세요');
						return false;
					}
				});
				// 자격증 중분류값 선택시 자격증코드,자격증명 조회
				$(document).on('change','#licenseSubCategory', function(){
					$('#licenseCategory').prop('disabled', false);
					let lscCode = $(this).val();
					
					if(validationCheck(lscCode)){						
						var request = $.ajax({
						  url: '/getLicenseCategory',
						  method: 'GET',
						  data: { 'lscCode' : lscCode },
						  dataType: 'json'
						});
					// 중분류값 선택 성공시 
					request.done(function( data ) {
						  console.log(data);
						  $('#licenseCategory').children().remove();
						  for(let licenseCategory of data){
							  $('#licenseCategory').append(`<option value="${licenseCategory.liName}">${licenseCategory.liName}</option>`);								  
						  }
						  $('#liCodeCategory').children().remove();
						  $('#liCodeCategory').prop('disabled', false);
						  for(let licenseCategory of data){
							  $('#liCodeCategory').append(`<option value="${licenseCategory.liCode}">${licenseCategory.liCode}</option>`);							  
						  }

						});
					// 중분류 선택 실패시
					request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
					}
				});
				// 중분류값 선택없이 자격증명값 선택시
				$(document).on('click','.licenseCategoryDiv', function(){
					let isDisabled = $('#licenseCategory').prop('disabled');
					if(isDisabled) {
						alert('중분류를 선택해주세요');
						return false;
					}
				});
			});
			

			$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
				function validateValue(checkValue) {
					if(    typeof checkValue == 'undefined' 
							|| checkValue == null 
							|| checkValue == ''					){
						return true;
					}
					return false;
					
				}			

				$(document).on('click', '#submitBtn', function(){
					let isSubmit = true;
					
					$('#addLicensePassScore input').each(function(idx, item){
						let checkValue = $(item).val();
						let labelValue = $(item).parents('.mb-3').find('label').text();
						if(validateValue(checkValue)){
							
							alert(`${labelValue}를 입력해주세요`);
							$(item).focus();
							isSubmit = false;
							
							return false;
						}
						
					});
				
					if(isSubmit) $('#addLicensePassScore').submit();
				});
			});
	
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<h1>합격기준점수등록</h1>
                <p class="pxp-text-light">Add License Pass Score</p>
                <form id="addLicensePassScore" th:action="@{/addLicensePassScore}" method="post">
                    <div class="row mt-4 mt-lg-5">                  
                	<h2><strong><span class="fa fa-check"></span>자격증 선택</strong></h2>
                        <div class="col-md-6 col-xxl-3">
                        	<label for="licenseMainCategory" class="form-label">대분류</label>
                             <select  id="licenseMainCategory" class="form-select" name="mainCate">
                                <option th:if="${not #lists.isEmpty(licenseMainList)}" th:each="l : ${licenseMainList}" th:value="${l.lmcCode}" th:text="${l.lmcName}"></option>
                             </select>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3 licenseSubCategoryDiv">
	                               <label for="licenseSubCategory" class="form-label">중분류</label>
	                               <select id="licenseSubCategory" class="form-select" name="subCate" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3 licenseCategoryDiv">
	                               <label for="licenseCategory" class="form-label">자격증명</label>
	                               <select id="licenseCategory" class="form-select" name="liName" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3 liCodeCategoryDiv">
	                               <label for="liCodeCategory" class="form-label">자격증코드</label>
	                               <select id="liCodeCategory" class="form-select" name="liCode" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
                                <label for="pxp-company-job-experience" class="form-label">자격증합격기준점수</label>
                                <input type="text" id="pxp-company-job-experience" class="form-control" name="liPStandardScore" placeholder="점수를 입력해주세요.">   
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mt-4 mt-lg-5">
	                   <div class="mt-4 mt-lg-5">
	                        <button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>
							<a th:href="@{/licensePassScoreList}" class="btn rounded-pill pxp-section-cta-o ms-3">취소</a>                                                
                    	</div>                                      
                    </div>                                   
                </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
