<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
		<script>
		$(function(){
			function validationCheck(data){
				if(typeof data == 'undefined' || data == '' || data == null || data == '대분류'){	
					return false;
				}
				return true;
			}
			// 과목 선택시 과목정보 조회
			$(document).on('change','#subjectCategory', function(){
				let lsCode = $(this).val();
				
				if(validationCheck(lsCode)){						
					var request = $.ajax({
					  url: '/getSubjectInfoForQuestion',
					  method: 'GET',
					  data: { 'lsCode' : lsCode },
					  dataType: 'json'
					});
				//  과목 선택 성공시 
				request.done(function( data ) {
					  console.log(data);						  
					  $('#subjectCodeCategory').children().remove();
					  const lsCodeOption = '<option selected name="lsCode">' + data.lsCode + '</option>';
					  $('#subjectCodeCategory').append(lsCodeOption);  
					  
					  $('#subjectNameCategory').children().remove();
					  const lsNameOption = '<option selected name="lsName">' + data.lsName + '</option>';
					  $('#subjectNameCategory').append(lsNameOption);   		
					  
					});
				// 과목 선택 실패시
				request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
				}
			});
		});	
		
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			function validateValue(checkValue) {
				if(    typeof checkValue == 'undefined' 
						|| checkValue == null 
						|| checkValue == ''					){
					return true;
				}
				return false;
				
			}			

			$(document).on('click', '#submitBtn', function(){
				let isSubmit = true;
				
				$('#addSubjectPassScoreForm input').each(function(idx, item){
					let checkValue = $(item).val();
					let labelValue = $(item).parents('.mb-3').find('label').text();
					if(validateValue(checkValue)){							
						alert(`${labelValue}를 입력해주세요`);
						$(item).focus();
						isSubmit = false;							
						return false;
					}						
				});				
				if(isSubmit) $('#addSubjectPassScoreForm').submit();
			});
		});
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1>과목합격기준점수등록</h1>
    	<p class="pxp-text-light">Add Subject Pass Score</p>	      
        	<form id="addSubjectPassScoreForm" th:action="@{/addSubjectPassScore}" method="post">
                <th:block th:object="${liInfoForLsPScore}">
                	<div class="row mt-4 mt-lg-5">                  
                		<h2><strong><span class="fa fa-check"></span>자격증</strong></h2>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
	         					<label for="liName" class="form-label">자격증코드</label>
	                            <input type="text" id="liCode" name="liCode" class="form-control" th:value="*{liCode}" readonly="readonly"/>
                            </div>
                        </div>                              
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
	         					<label for="liName" class="form-label">자격증명</label>
	                            <input type="text" id="liName" name="liName" class="form-control" th:value="*{liName}" readonly="readonly"/>
                            </div>
                        </div>                
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
	         					<label for="liPStandardScore" class="form-label">자격증합격기준점수</label>
	                            <input type="text" id="liPStandardScore" name="liPStandardScore" class="form-control" th:value="*{liPStandardScore}" readonly="readonly"/>
                            </div>
                        </div>                
                	</div>
                	
                	<div class="row mt-4 mt-lg-5">                  
	                	<h2><strong><span class="fa fa-check"></span>과목</strong></h2>
						<div class="col-md-6 col-xxl-3">
							<div class="mb-3 subjectCategoryDiv">
								<label for="subjectCategory" class="form-label">과목</label>
								<select id="subjectCategory" class="form-select">
									<option selected>과목</option>
									<option th:if="${not #lists.isEmpty(liSubListForLsPScore)}" th:each="l : ${liSubListForLsPScore}" th:value="${l.lsCode}" th:text="${l.lsSubject}"></option>
								</select>
							</div>
						</div>														
						<div class="col-md-6 col-xxl-3">
							<div class="mb-3 subjectCodeCategoryDiv">
								<label for="subjectCodeCategory" class="form-label">과목코드</label>
								<select id="subjectCodeCategory" class="form-select" name="lsCode" ></select>
							</div>
						</div>
						<div class="col-md-6 col-xxl-3">
							<div class="mb-3 subjectNameCategoryDiv">
								<label for="subjectNameCategory" class="form-label">과목명</label>					   						   								
								<select id="subjectNameCategory" class="form-select" name="lsName" ></select>							
							</div>
						</div>
					</div>
					
					<div class="row mt-4 mt-lg-5">                  
                		<h2><strong><span class="fa fa-check"></span>과목정보</strong></h2>
						<div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
	         					<label for="lsTotalQuestionNum" class="form-label">문항수</label>
	                            <input type="text" id="lsTotalQuestionNum" class="form-control" name="lsTotalQuestionNum" placeholder="문항수를 입력해주세요.">  
                            </div>
                        </div>
						<div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
	         					<label for="lsPStandardScore" class="form-label">과목합격점수</label>
	                            <input type="text" id="lsPStandardScore" class="form-control" name="lsPStandardScore" placeholder="과목합격점수를 입력해주세요.">  
                            </div>
                        </div>
					</div>
         		 <div class="mt-4 mt-lg-5">
         	  	<button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>
				<a th:href="@{/subjectPassScoreList(liCode=*{liCode})}" class="btn rounded-pill pxp-section-cta-o ms-3">취소</a>                  
            	</div>  
            	</th:block>                                                        
        	</form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
