<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
    <th:block layout:fragment="customScript">
		<script>
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		  <h1>해설등록</h1>
	    <p class="pxp-text-light">Add Explanation</p>
	    <form> 
			<div class="mt-4 mt-lg-5">
	            <div class="row mt-4 mt-lg-5">
		            <div class="mb-3">
		             <textarea class="form-control" id="pxp-company-job-description" placeholder="해설를 입력해주세요."></textarea>
		         	</div>
	            </div>                 
			</div>
			<div class="mt-4 mt-lg-5">
                <button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>
				<a th:href="@{/explanationList}" class="btn rounded-pill pxp-section-cta-o ms-3">취소</a>
           	</div>                                                              
    	</form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
		<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	</th:block>
	<!-- customJs end -->
</html>