<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
    <th:block layout:fragment="customScript">
		<script>
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1>답안목록</h1>
		<p class="pxp-text-light">Answer List</p>
		<th:block th:object="${questionCodeForQSet}">	
			<div class="pxp-dashboard-table-options" >
				<ul class="list-unstyled">
					<a th:href="@{/addAnswer(questionCode=*{questionCode})}">
						<li><button title="Add"><span class="fa fa-plus"></span></button></li>
					</a>
				</ul>
			</div>
		</th:block>
		<div class="table-responsive" style="overflow-x: hidden">
			<form>
				<th:block>
					<table class="table table-hover align-middle">
						<thead>
							<tr>
								<th style="width: 10%;">답안코드</th>
								<th style="width: 10%;">문제코드</th>
								<th style="width: 30%;">답안</th>
								<th style="width: 10%;">정답여부</th>
								<th style="width: 10%;">등록자</th>
								<th style="width: 30%;">등록일시</th>
								<th>수정/삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(answerList)}" th:each="l : ${answerList}">
								<td><div class="answerCode" 			th:text="${l.answerCode}"></div></td>
								<td><div class="questionCode" 			th:text="${l.questionCode}"></div></td>
								<td><div class="answer" 				th:text="${l.answer}"></div></td>
								<td><div class="answerState" 			th:text="${l.answerState}"></div></td>
								<td><div class="answerRegId" 			th:text="${l.answerRegId}"></div></td>
								<td><div class="answerRegDateTime" 		th:text="${l.answerRegDateTime}"></div></td>
								<td>
                                    <div class="pxp-dashboard-table-options">
                                        <ul class="list-unstyled">
                                            <a th:href="@{/modifyAnswer(answerCode=${l.answerCode})}">
                                            	<li><button title="Edit"><span class="fa fa-pencil"></span></button></li>
                                            </a>                                                                                        
                                            <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                        </ul>
                                    </div>
                                </td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(answerList)}">
								<td colspan="9">등록된 답안이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</th:block>
			</form>	
		</div>
		<!-- 목록 end -->
		<div class="mt-4 mt-lg-5">
			<a th:href="@{/qSettingList}" class="btn rounded-pill pxp-section-cta">목록으로</a>
		</div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
		<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	</th:block>
	<!-- customJs end -->
</html>