<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
    <th:block layout:fragment="customScript">
		<script>
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->s
	<th:block layout:fragment="customContents">
	    <h1>답안등록</h1>
	    <p class="pxp-text-light">Add Question Setting</p>
	    <form> 
			<div class="mt-4 mt-lg-5">
      			<div class="row justify-content-between align-content-center">
					<div class="pxp-dashboard-table-options">
	                    <ul class="list-unstyled">      
	                    	<input type="number" id="trCount" min="0" value="0"/>        		
	                       	<li><button id="addRows" class="addRows" type="button"><span class="fa fa-plus"></span></button></li>		                       
	                       	<li><button id="delCheckBtn"class="delCheckBtn" type="button"><span class="fa fa-trash-o"></span></button></li>                 	                                           
	                    </ul>
	            	</div>
      			</div>
                <!-- 목록 start -->
				<form id="addAnswerForm">
                	<div class="table-responsive">
						<table class="table table-hover align-middle">                   	
                        	<thead>                    
	                            <tr>
	                            	<th class="pxp-is-checkbox" style="width: 1%;"><input type="checkbox" class="form-check-input" id="allCheck"></th>
                                    <th style="width: 70%;">답안</th>
                               		<th style="width: 15%;">정답여부</th>   
									<th style="width: 15%;">배점</th>
	                            </tr>
                        	</thead>
							<tbody id="addAnswerBody">
                            	<tr>
									<td><input type="checkbox" class="form-check-input checks"></td>
                                    <td>
                                    	<input type="text" class="form-control" placeholder="답안을 입력해주세요." name="answer" />                                    
                                    </td> 
                                    <td>
	                                    <div>
			                                <select id="answerState" name="answerState" class="form-select">
			                                    <option>정답</option>
			                                    <option>오답</option>
			                                </select>
		                        		</div>
                                    </td>
                                    <td>
                                    	<input type="text" class="form-control">                                    
                                    </td>
                            	</tr>                      
                            </tbody> 
                        </table>
                    </div>
				</form>                   
			</div>
            <div class="mt-4 mt-lg-5">
         	  	<button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>
				<a th:href="@{/qSettingList}" class="btn rounded-pill pxp-section-cta-o ms-3">취소</a>  
            </div>                                                                 
	    </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
		<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
	</th:block>
	<!-- customJs end -->
</html>