<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- header 시작  --> 
	<header class="pxp-header fixed-top">
    	<div class="pxp-container">
			<div class="pxp-header-container" th:fragment="headerFragment">
				<!-- 플랫폼로고 시작 -->
            	<div class="pxp-logo">
                	&emsp;<a href="/main" class="pxp-animate"><span style="color: var(--pxpMainColor)">S</span>aveY<span style="color: var(--pxpMainColor)">O</span>urLicen<span style="color: var(--pxpMainColor)">S</span>e</a>
                </div>
                <!-- 플랫폼로고 끝 -->
                <!-- 상단메뉴 시작 --> 
                <nav class="pxp-nav dropdown-hover-all d-none d-xl-block">
                	<ul>
					<!-- 메뉴 시작 -->
                    	<li>
							<a href="/licenseMain" class="dropdown-toggle">자격증정보</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/AcceptanceList" class="dropdown-toggle">합격자리뷰</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/noteList" class="dropdown-toggle">공부노트</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/exam/addExamAnswer">기출문제</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/planner/listToDoList" class="dropdown-toggle">플래너</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li class="dropdown">
							<a href="/challenge/challengeGoal" class="dropdown-toggle" data-bs-toggle="dropdown">챌린지</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/challengeGoal">챌린지 도전 및 목표 입력</a></li>
								<li><a class="dropdown-item" href="/challengeState">챌린지 수행 내역 및 진행 상태 확인</a></li>
								<li><a class="dropdown-item" href="/challengeHistory">챌린지 도전 내역</a></li>
								<li><a class="dropdown-item" href="/challengeResult">챌린지 결과 확인</a></li>
								<li><a class="dropdown-item" href="/challengeBoardList">챌린지 인증 게시판</a></li>
							</ul>
						</li>
                    <!-- 메뉴 끝 -->
                    <!-- 메뉴 시작 -->
                        <li>
                        	<a href="/membershipRequest" class="dropdown-toggle">멤버십</a>
                        </li>
					<!-- 메뉴 끝 -->
                    <!-- 메뉴 시작 -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">포인트</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/point/pointSaveStandardList">포인트 적립 기준</a></li>
							<li><a class="dropdown-item" href="/point/pointRefundList">환급 수수료율</a></li>
						</ul>
					</li>
					<!-- 메뉴 끝 -->
					 <!-- 메뉴 시작 -->
                        <li>
                        	<a href="/customerCenter" class="dropdown-toggle">고객센터</a>
                        </li>
					<!-- 메뉴 끝 -->
					</ul>
				</nav>
				<!-- 상단메뉴 끝 -->
				<!-- 로그인/회원가입버튼 시작 -->
				<nav class="pxp-user-nav d-none d-sm-flex">
					<a href="/login" class="btn rounded-pill pxp-nav-btn">#Login</a>&emsp;
					<a href="/addMember" class="btn rounded-pill pxp-nav-btn">#Sign in</a>&emsp;
				</nav>
				<!-- 로그인/회원가입버튼 끝 -->
				
				<!-- 로그인후 권한에따른 회원정보 및 마이페이지 버튼 & 관리자정보및 관리자페이지이동 버튼 추가해야함  -->
				
			</div>
		</div>
	</header>
	<!-- header 끝  -->
</html>