<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
 		<h1>결제 내역</h1>
                <p class="pxp-text-light">Pay list</p>

                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-2 order-sm-1">
                            <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                                <div class="pxp-company-dashboard-jobs-search mb-3">
                                <select class="form-select">
                                    <option>회원 아이디</option>
                                </select>
                                	<div class="col-auto order-1 order-sm-2">
                                		<div class="pxp-company-dashboard-jobs-search-search-form">
                                    		<div class="input-group">
                                        		<span class="input-group-text"><span class="fa fa-search"></span></span>
                                        		<input type="text" class="form-control" placeholder="Search ID">
                                        		<button class="btn ms-2">Search</button>
                                    		</div>
                                		</div>
                            		</div>
                        		</div> 
                            </div>
                        </div>
                        
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th colspan="1" style="width: 15%;">아이디</th>
                                    <th style="width: 20%;">결제완료코드</th>
                                    <th style="width: 15%;">결제상품</th>
                                    <th style="width: 10%;">상품금액</th>
                                    <th style="width: 10%;">사용포인트</th>
                                    <th style="width: 10%;">결제금액</th>
                                    <th style="width: 20%;">결제일시</th>
                                    <th style="width: 10%;">삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(payList)}"
									th:each="l : ${payList}">
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.payId}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.payCompleteCode}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.goodsName}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${#numbers.formatInteger(l.totalPayPrice, 3, 'COMMA')}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.payUsePoint}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${#numbers.formatInteger(l.finalPayPrice, 3, 'COMMA')}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.payCompleteDatetime}"></div></td>
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            <a href="/payDelete">
                                                <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                             </a>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(payList)}">
									<td colspan="9">조회된 결제 내역이 없습니다.</td>
								</tr> 
                            </tbody>
                                
                            </tbody>
                        </table>

                        <div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
                            <div class="col-auto">
                                <nav class="mt-3 mt-sm-0" aria-label="Candidates pagination">
                                    <ul class="pagination pxp-pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Show me more<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>