<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	
	<h1>Admin Main</h1>
	<br>
				<div class="row mt-4 mt-lg-5 align-items-center">
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-address-card" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/totalMemberList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">회원관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-user-o" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/membershipList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">멤버십<br>관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-check" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/totalLoginHistory"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">로그인<br>로그아웃 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-credit-card" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/payList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">결제환불<br>관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
			</div>
			<div class="row mt-4 mt-lg-5 align-items-center">
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-star" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/pointSaveUseList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">포인트<br>관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-calculator" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/mainSales"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">매출관리 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-drivers-license" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/licenseInofoList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">자격증<br>관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-pencil" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/licensePassScoreList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">시험관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
			</div>
			<div class="row mt-4 mt-lg-5 align-items-center">
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-book" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/noteSellTotalList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">노트관리 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-question" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/QnaQuestionList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">1:1문의<br>관리 </div></a>
							</div>
						</div>
					</div>
					<!--  -->

			</div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>