<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	        <section class="pxp-page-header-simple" style="background-color: var(--pxpMainColorLight);">
	          <div class="pxp-container">
				<h1><strong>챌린지 도전 내역</strong></h1>
                <p class="pxp-text-light">Challenge History</p>
                </div>
			</section>
        <section class="mt-100">  			
                <div class="mt-4 mt-lg-5">
                    <!-- 목록 start -->     
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th style="width: 19%;">챌린지 목표</th>
                                    <th style="width: 10%;">자격증</th>
                                    <th style="width: 7%;">과목</th>
                                    <th style="width: 13%;">다짐내용</th>
                                    <th style="width: 10%;">목표공부시간</th>
                                    <th style="width: 14%;">챌린지시작일시</th>
                                    <th style="width: 14%;">챌린지종료일시</th>
                                    <th style="width: 14%;">성공여부조회</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
 		                          <tr th:if="${not #lists.isEmpty(ChallengeHistory)}" th:each="cg : ${ChallengeHistory}">
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgGoalTitle}"></div></td>                                  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgLiName}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgLiSubject}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgContent}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgStudyTime}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgStartDatetime}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${cg.cgEndDatetime}"></div></td>  
                                    <td>
                                    	<a class="btn rounded-pill pxp-section-cta" type="button" th:href="@{/challengeFinish(cgCode=${cg.cgCode})}">확인</a>
                                    </td>  
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(ChallengeHistory)}">
                                	<td colspan="7">등록된 목록이 없습니다.</td>
                                </tr>                      
                            </tbody>
                        </table>
                    </div>
 
                <!-- 목록 end -->    
                </div>
             </section>                 
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

