<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents"> 
                <h1>회원 정보 조회 / 수정</h1>
                <p class="pxp-text-light">MemberInfo</p>
                <form id="totalMemberInfoForm" th:action="@{/totalMemberInfo}" name="totalMemberInfoform" method="post">
                    <div class="row mt-2 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">ID</label>
                                <input type="text" id="memId" class="form-control" name="memId" th:value="${totalMemberInfo.memId}">
                            </div>
                         </div>                            
                     </div>                 
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">PW</label>
                                <input type="text" id="memPw" class="form-control" name="memPw" th:value="${totalMemberInfo.memPw}">
                            </div>
                         </div>                            
                     </div>
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">이름</label>
                                <input type="text" id="memName" class="form-control" name="memName" th:value="${totalMemberInfo.memName}">
                            </div>
                         </div>                            
                     </div>                                               
                    <div class="row mt-1 mt-lg-3">                          
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Email" class="form-label">이메일</label>
                                <input type="text" id="memEmail" class="form-control" name="memEmail" th:value="${totalMemberInfo.memEmail}">
                            </div>                            
                            </div>
                         </div>                                                                                       
                    <div class="row mt-1 mt-lg-3">                           
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Phone" class="form-label">전화번호</label>
                                <input type="text" id="memPhone" class="form-control" name="memPhone" th:value="${totalMemberInfo.memPhone}">
                            </div>                            
                            </div>
                         </div> 
                                           <div class="mt-2 mt-lg-4">
                            <a href="/totalMemberList" class="btn rounded-pill pxp-section-cta"  onclick="alert('수정이 완료되었습니다.')">수정하기</a></button>  &emsp;&emsp; <a href="/totalMemberList"  class="btn rounded-pill pxp-section-cta">취소</a>
                    </div>   
	</th:block>
	<!-- customContents end -->	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>