<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1>포인트 수수료율 등록</h1>
                <p class="pxp-text-light">Point fee rate.</p>

                <form>
                    <div class="row mt-4 mt-lg-5">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pxp-company-old-password" class="form-label">포인트 수수료율 코드</label>
                                <input type="password" id="pxp-company-old-password" class="form-control" placeholder="수수료율 코드를 입력해주세요">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pxp-company-new-password" class="form-label">포인트 수수료 적용 내용</label>
                                <input type="password" id="pxp-company-new-password" class="form-control" placeholder="포인트 수수료 적용 내용을 입력해주세요">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pxp-company-new-password-repeat" class="form-label">포인트 수수료율</label>
                                <input type="password" id="pxp-company-new-password-repeat" class="form-control" placeholder="포인트 수수료율을 입력해주세요">
                            </div>
                        </div>
					</div>
                    <div class="mt-4 mt-lg-5">
                        <button class="btn rounded-pill pxp-section-cta">Save</button>
                    </div>
                </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>