<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
<script>
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			function validateValue(checkValue) {
				if(    typeof checkValue == 'undefined' 
						|| checkValue == null 
						|| checkValue == ''					){
					return true;
				}
				return false;
				
			}
			
		
			/* 유효성검사를 구현하시오. (#submitBtn 를 클릭 시) */
			$(document).on('click','#submitBtn', function(){
				let isSubmit = true;
				
				$('#pointSaveUseAddForm input').each(function(idx, item){
					let checkValue = $(item).val();
					let labelValue = $(item).parent('.mb-3').find('label').text();
					if(validateValue(checkValue)){
						
						alert(`${labelValue}를 입력해주세요`);
						$(item).focus();
						isSubmit = false;
						
						return false;
					}
					
				});                                                                                                                                                         
			
				if(isSubmit) $('#addPointSaveStandardForm').submit();
			});
		});
	
	</script>
	
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1>포인트 적립 등록</h1>
			<p class="pxp-text-light">Point save use.</p>
			<form id="pointSaveUseAddForm" th:action="@{/pointSaveUseAdd}" method="post" data-parsley-validate class="form-horizontal form-label-left" novalidate>
				<div class="row mt-4 mt-lg-5">
            	<div class="row justify-content-between align-content-center">
                    <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
               		<div class="col-md-6">
               			<div class="row">
                			<div class="col-md-6">
		               		<div class="mb-3">
								<label for="pointSaveUseId" class="form-label">회원 아이디</label>
									<input type="text" id="pointSaveUseId" name="pointSaveUseId"
								   	placeholder="회원 아이디" class="form-control"/>
							</div>
							</div>
						</div>
						
						<div class="row">
		                	<div class="mb-3">
		                         <label for="pointSaveUseReason" class="form-label">포인트 지급 사유</label>
		                         <div class="col-md-6 col-sm-6 ">
									<select id="pointSaveReason" name="pointSaveReason"class="form-select">
										
										<th:block th:if="${not #lists.isEmpty(pointSaveStandardList)}" 
										  	th:each="l : ${pointSaveStandardList}">								
											<option th:text="${l.pointSaveStandardContent}"></option>
										</th:block>
									</select>
									
								</div>	
		              		</div>
						</div>
						<div class="row">
						<div class="mb-3">
							<label for="pointSaveUsePoint" class="col-form-label col-md-3 col-sm-3 label-align">포인트 지급 금액</label>
							<div class="col-md-6 col-sm-6 ">
								<input type="text" id="pointSaveUsePoint" name="pointSaveUsePoint"
								    placeholder="포인트 지급 금액" class="form-control">
							</div>
						</div>
						
					</div>
				</div>
				</div>
				<div class="mt-4 mt-lg-5">
	                  <button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">Save</button>
	                  <button type="reset" id="resetBtn" class="btn rounded-pill pxp-section-cta">Cancel</button>
				</div>
				</div>
				</div>
			</form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">


	</th:block>
	<!-- customJs end -->
</html>