<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			function validateValue(checkValue) {
				if(    typeof checkValue == 'undefined' 
						|| checkValue == null 
						|| checkValue == ''					){
					return true;
				}
				return false;
				
			}
			$('#pointSaveStandardId').on('input', function(){
				$('#addPointSaveStandardForm input').not('#pointSaveStandardId').prop('disabled', true);
			  	$('#addPointSaveStandardForm select').prop('disabled', true);
			  	$('#addPointSaveStandardForm button').not('#checkBtn').prop('disabled', true);
			});
		
			$('#checkBtn').click(function(){
				let pointSaveStandardId = $('#pointSaveStandardId').val();
				
				if(validateValue(pointSaveStandardId)){
					alert('관리자 아이디를 인증해주세요');
					$('#pointSaveStandardId').focus();
					return false;					
				}					

				let request = $.ajax({
					  url: '/pointSaveStandardIdCheck',
					  method: 'GET',
					  data: { 'inputId' : pointSaveStandardId },
					  dataType: 'json'
				});
				
				//성공 
				request.done(function( isChecked ) {
					console.log(isChecked, '데이터타입 확인');
				  	  
					if(isChecked){
				  	  	alert('인증완료');
					  	$('#addPointSaveStandardForm input').not('#pointSaveStandardId').prop('disabled', false);
					  	$('#addPointSaveStandardForm select').prop('disabled', false);
					  	$('#addPointSaveStandardForm button').not('#checkBtn').prop('disabled', false);	
					}else{
						alert('관리자 아이디가 일치하지 않습니다.');
				  	  	$('#pointSaveStandardId').val('');
					  	$('#addPointSaveStandardForm input').not('#pointSaveStandardId').prop('disabled', true);
					  	$('#addPointSaveStandardForm select').prop('disabled', true);
					  	$('#addPointSaveStandardForm button').not('#checkBtn').prop('disabled', true);
					  	$('#pointSaveStandardId').focus();
					}
				});
				
				//실패 
				request.fail(function( jqXHR, textStatus ) {
				  	  console.log('Request failed: ' + textStatus );
				});
			});
	
			/* 유효성검사를 구현하시오. (#submitBtn 를 클릭 시) */
			$('#submitBtn').click(function(){
				let isSubmit = true;
				
				$('#addPointSaveStandardForm input').each(function(idx, item){
					let checkValue = $(item).val();
					let labelValue = $(item).parent('.mb-3').find('label').text();
					if(validateValue(checkValue)){
						
						alert(`${labelValue}를 입력해주세요`);
						$(item).focus();
						isSubmit = false;
						return false;
					}
					
				});                                                                                                                                                         
			
				if(isSubmit) $('#addPointSaveStandardForm').submit();
			});
		});
	
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
          <h1>포인트 적립 기준 등록</h1>
            <p class="pxp-text-light">Point save standard.</p>
            <form id="addPointSaveStandardForm" th:action="@{/addpointSaveStandard}" method="post">
                <div class="row mt-4 mt-lg-5">
                <div class="row justify-content-between align-content-center">
                        <!-- <div class="col-auto order-2 order-sm-1"> -->
                    <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                    <div class="col-md-6">
	                    <div class="row">
			               	<div class="col-md-6">
			                	<div class="mb-3">
			                    	<label for="pointSaveStandardId" class="form-label">등록자 아이디</label>
			                        <button type="button" id="checkBtn" class="btn ms-2">관리자 인증</button>
			                    </div>
			                        <input type="text" id="pointSaveStandardId" name="pointSaveStandardId" class="form-control" placeholder="등록자 아이디를 입력해주세요">
			                </div>
						</div>
						<div class="row">
		                	<div class="mb-3">
		                    	<label for="pointSaveStandardCode" class="form-label">포인트 적립 코드</label>
		                        <input type="text" id="pointSaveStandardCode" name="pointSaveStandardCode" class="form-control" placeholder="포인트 적립 코드를 입력해주세요" disabled="disabled">
		                    </div>
                    	</div>
		                <div class="row">
			                <div class="mb-3">
				                <label for="pointSaveStandardContent" class="form-label">포인트 적립 내용</label>
				                <input type="text" id="pointSaveStandardContent" name="pointSaveStandardContent" class="form-control" placeholder="포인트 적립 내용을 입력해주세요" disabled="disabled">
			                </div>
		                </div>
		                <div class="row">
		                	<div class="mb-3">
			                	<label for="savePoint" class="form-label">적립 포인트</label>
	                        	<input type="text" id="savePoint" name="savePoint" class="form-control" placeholder="적립 포인트를 입력해주세요" disabled="disabled">
		                    </div>
		                </div>
					</div>
					</div>
					</div>
               		<div class="mt-4 mt-lg-5">
                  		<button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">Save</button>
                   		<button type="reset" id="resetBtn" 	 class="btn rounded-pill pxp-section-cta">Cancel</button>
               		</div>
				</div>
				
           </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>   