<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">
	  
	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
		<!-- begin contents --> 
        <th:block layout:fragment="customContents">
        <section class="pxp-page-header-simple" style="background-color: var(--pxpMainColorLight);">
            <div class="pxp-container">
                <h1>결제</h1>
                <div class="pxp-hero-subtitle pxp-text-ligh">Payment</div>
            </div>
        </section>
        
        <section>
        <div class="pxp-container">
           <form id="payInsertForm" action="/payInsert" method="POST" role="form" >
             <div class="row mt-4 mt-lg-5">
            		<div class="col-md-100">
            			
            			<div class="row">
	              			<div class="mb-3">
		                 		<h3>Payment Information</h3>    
	               			</div>
             			</div>
	               			
	               
	       				<div class="row">
							<div class="mb-3">
								<br>
                 				<label for="">상품명</label>
                 				<!-- <input type="text" readonly="readonly" class="goodsCode" name="payId" th:value="${noteInfo.noteWriterId}"> -->
                 				<input type="text" class="form-control" name="goodsName" th:value="${noteInfo.noteName}" readonly="readonly">
              	 			</div>
	              		</div>
	             
	             
		                <div class="row">
		             		<div class="mb-3">
		             			<br>
	                 			<label for="">관련자격증</label>
	                 			<input id="goodsPrice" type="text" name="" class="form-control" th:value="${noteInfo.liName}" readonly="readonly">
	              			 </div>
		               	</div>
	             
		               <div class="row">
		             		<div class="mb-3">
	                 			<br>
	                			<label for="">상품가격</label>
	                 			<input id="goodsPrice" type="text" name="totalPayPrice" class="form-control" th:value="${noteInfo.notePrice}" readonly="readonly">
	              			 </div>
              			</div>
		              	
	              		
	              
		         	    <div class="row">
		             		<div class="mb-3">
	         	     		<br>
	                 			<label for="">포인트 사용</label>
	                 			<input id="pointUse" name="payUsePoint" type="number" th:value="0" class="form-control" >
	               			</div>
		               	</div>
						
						<div class="row">
						<br><br>
						</div>
						
						<div class="row">
		                	<div class="mb-3">
		                         <h3>Payment Type</h3>
		                         <br>  
		                         <label for="" class="form-label">카드사 선택</label>		                         	                         
									<select id="payType" name="payType"class="form-select">
										<option value="삼성">삼성</option>
			                      		<option value="우리" >우리</option>
			                      		<option value="신한" >신한</option>
			                      		<option value="KB국민" >KB국민</option>
			                      		<option value="하나" >하나</option>
			                      		<option value="현대" >현대</option>
			                      		<option value="롯데" >롯데</option>
				                     </select>
				            </div>
				        </div>
				           

		                 <div class="mt-4 mt-lg-5">
		                 	<a th:href="@{/noteDetial(noteWriterId=${noteInfo.noteWriterId})}"><button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta save">이전</button></a>
		                  		<button type="submit" id="resetBtn" class="btn rounded-pill pxp-section-cta">결제</button>
						</div>
					</div>
				</div>
           </form>
		</div>    
	  </section>
	<br><br><br><br>
	
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>