<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- header 시작  --> 
	<header class="pxp-header fixed-top">
    	<div class="pxp-container">
			<div class="pxp-header-container" th:fragment="headerFragment">
				<!-- 플랫폼로고 시작 -->
            	<div class="pxp-logo">
                	&emsp;<a href="/main" class="pxp-animate"><span style="color: var(--pxpMainColor)">S</span>aveY<span style="color: var(--pxpMainColor)">O</span>urLicen<span style="color: var(--pxpMainColor)">S</span>e</a>
                </div>
                <!-- 플랫폼로고 끝 -->
                
                <!-- 상단메뉴 시작 --> 
                <nav class="pxp-nav dropdown-hover-all d-none d-xl-block">
                	<ul>
					<!-- 메뉴 시작 -->
                    	<li>
							<a href="/licenseMain" class="dropdown-toggle">자격증정보</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/AcceptanceList" class="dropdown-toggle">합격자리뷰</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/noteList" class="dropdown-toggle">공부노트</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li>
							<a href="/addExamPaper">기출문제</a>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li class="dropdown">
							<a href="/listToDoList" class="dropdown-toggle" data-bs-toggle="dropdown">플래너</a>
							<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/listToDoList">투두리스트</a></li>
								<li><a class="dropdown-item" href="/detailToDoList">일정상세</a></li>
									<li><a class="dropdown-item" href="/listStudyTime">스톱워치</a></li>
								<li><a class="dropdown-item" href="/detailDDay">디데이</a></li>
							</ul>
						</li>
					<!-- 메뉴 끝 -->
					<!-- 메뉴 시작 -->
						<li class="dropdown">
							<a href="/challengeGoal" class="dropdown-toggle" data-bs-toggle="dropdown">챌린지</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/challengeGoal">챌린지 도전 및 목표 입력</a></li>
								<li><a class="dropdown-item" href="/challengeState">챌린지 수행 내역 및 진행 상태 확인</a></li>
								<li><a class="dropdown-item" href="/challengeHistory">챌린지 도전 내역</a></li>
								<li><a class="dropdown-item" href="/challengeResult">챌린지 결과 확인</a></li>
								<li><a class="dropdown-item" href="/challengeBoardList">챌린지 인증 게시판</a></li>
							</ul>
						</li>
                    <!-- 메뉴 끝 -->
                    <!-- 메뉴 시작 -->
                        <li>
                        	<a href="/membershipRequest" class="dropdown-toggle">멤버십</a>
                        </li>
					<!-- 메뉴 끝 -->
                    <!-- 메뉴 시작 -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">포인트</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/mpointSaveStandardList">포인트 적립 기준</a></li>
							<li><a class="dropdown-item" href="/mpointFeeRateList">포인트 수수료율</a></li>
						</ul>
					</li>
					<!-- 메뉴 끝 -->
					 <!-- 메뉴 시작 -->
                        <li>
                        	<a href="/customerCenter" class="dropdown-toggle">고객센터</a>
                        </li>
					<!-- 메뉴 끝 -->
					</ul>
				</nav>
				<!-- 상단메뉴 끝 -->
				<!-- 로그인/회원가입버튼 시작 -->
				<nav class="pxp-user-nav d-none d-sm-flex">
					<a th:if="${session.S_MEM_INFO == null}" href="/login" class="btn rounded-pill pxp-nav-btn">로그인</a>
					<a th:unless="${session.S_MEM_INFO == null}" href="/logout" class="btn rounded-pill pxp-nav-btn">로그아웃</a>
					<a th:if="${session.S_MEM_INFO == null}" href="/addMember" class="btn rounded-pill pxp-nav-btn">회원가입</a>
				 	<a th:if="${session.S_MEM_INFO != null} and ${session.S_MEM_INFO.loginLevelName != '관리자'}" href="/myPage" class="btn rounded-pill pxp-nav-btn">마이페이지</a>
				 	<a th:unless="${session.S_MEM_INFO == null} or ${session.S_MEM_INFO.loginLevelName == '회원'}" href="/admin" class="btn rounded-pill pxp-nav-btn">관리자페이지</a>
					<a href="/cartList" class="btn rounded-pill pxp-nav-btn">#장바구니</a>
					<div th:unless ="${session.S_MEMBER_INFO == null}">
						<label th:text="${session.S_MEM_INFO.loginLogoutId}님이 로그인하셨습니다."></label>
					</div>
				</nav>
				<!-- 로그인/회원가입버튼 끝 -->
				
				<!-- 로그인후 권한에따른 회원정보 및 마이페이지 버튼 & 관리자정보및 관리자페이지이동 버튼 추가해야함  -->
				
			</div>
		</div>
	</header>
	<!-- header 끝  -->
</html>