<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <!-- Footer Section Begin -->
    <footer class="footer spad" id="footerFragment" th:fragment="footerFragment">
        <div class="container">
            <div class="row">
            <!-- 하단 플랫폼 정보 -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/member/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 주소주소주소주소주소주소</li>
                            <li>Phone: +65 010-0000-0000</li>
                            <li>Email: email@naver.com</li>
                        </ul>
                    </div>
                </div>
                
             <!-- 이거 없애면 여기다 뭐넣지 위치 이상해짐 수정해야함 -->
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="footer__widget">
                        <h6>여기다 뭐넣지?</h6>
                        <ul>
                            <li><a href="#">링크</a></li>
                            <li><a href="#">링크</a></li>
                            <li><a href="#">링크</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">링크</a></li>
                            <li><a href="#">링크</a></li>
                            <li><a href="#">링크</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- 저작권 -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script>  by sos</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </html>
    <!-- Footer Section End -->
