  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <!-- Header Section Begin -->
    <header class="header" id="headerFragment" th:fragment="headerFragment">
    
		<!-- 로그인/회원가입/장바구니/마이페이지 -->
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> 로그인</a>
                        </div>                       
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> 회원가입</a>
                        </div>                       
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-heart"></i></a>
                        </div>                       
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-shopping-bag"></i></a>
                        </div>                                                
                    </div>    
                 </div>
             </div>
         </div>
            
        <div class="container">
            <div class="row">
	  			<!-- 플랫폼로고 -->
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/member//img/logo.png" alt=""></a>
                    </div>
                </div>
				<!-- 상단메뉴 -->
                <div class="col-lg-10">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="#">license</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">note</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">planer</a>
                                <ul class="header__menu__dropdown">
									<li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">challenge</a>
                                <ul class="header__menu__dropdown">
									<li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">exam</a>
                                <ul class="header__menu__dropdown">
									<li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">menu</a>
                                <ul class="header__menu__dropdown">
									<li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">menu</a>
                                <ul class="header__menu__dropdown">
									<li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">menu</a>
                                <ul class="header__menu__dropdown">
									<li><a href="#">메뉴1</a></li>
                                    <li><a href="#">메뉴2</a></li>
                                    <li><a href="#">메뉴3</a></li>
                                    <li><a href="#">메뉴4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    </html>
    <!-- Header Section End -->
