<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">
<head>
    <style>
    th,td{
    text-align:center;
    }
    .col-auto{
	margin:auto;
	}
    </style>
</head>

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	     	<h1>환불 신청 내역</h1>
            <p class="pxp-text-light">Refund list</p>

            <div class="mt-4 mt-lg-5">
                    <div class="table-responsive" style="overflow-x: hidden">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th colspan="1" style="width: 14%;">환불코드</th>
                                    <th style="width: 14%;">결제완료코드</th>
                                    <th style="width: 10%;">아이디</th>
                                    <th style="width: 10%;">환불사유</th>
                                    <th style="width: 8%;">결제금액</th>
                                    <th style="width: 8%;">환불금액</th>
                                	<th style="width: 8%;">환불포인트</th>
                                    <th style="width: 18%;">환불신청일시</th>
                                    <th style="width: 20%;">환불신청상태(대기/승인)</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr th:if="${not #lists.isEmpty(mRefundList)}"
									th:each="l : ${mRefundList}">
									<td><div class="pxp-company-dashboard-job-title" th:text="${l.refundCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.payCompleteCode}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.payId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.refundReason}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${#numbers.formatInteger(l.finalPayPrice, 3, 'COMMA')}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${#numbers.formatInteger(l.refundPrice, 3, 'COMMA')}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.refundPoint}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.refundDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-status" th:text="${l.refundState}"></div></td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(mRefundList)}">
									<td colspan="9">조회된 결제 내역이 없습니다.</td>
								</tr> 
                            </tbody>
                        </table>

                        <div class="row mt-4 mt-lg-5 justify-content-center align-items-center">
                            <div class="col-auto">
                                <nav class="mt-3 mt-sm-0" aria-label="Candidates pagination">
                                    <ul class="pagination pxp-pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>







 