<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
          <h1>환불 신청</h1>
            <p class="pxp-text-light">Refund request.</p>

            <form>
                <div class="row mt-4 mt-lg-5">
                    <div class="col-md-6">
	                    <div class="mb-3">
	                        <label for="pxp-company-job-description" class="form-label">환불 신청 사유</label>
	                        <textarea class="form-control" id="pxp-company-job-description" placeholder="환불 신청 사유를 입력해주세요"></textarea>
	                    </div> 
                    </div>
                </div>
                <div class="mt-4 mt-lg-5">
                        <button type="button" class="btn rounded-pill pxp-section-cta" onclick="location.href='/refundList' ">Save</button>
                        <button type="button" class="btn rounded-pill pxp-section-cta-o ms-3" onclick="location.href='/mpayList'">Cancel</button>
                </div>  
            </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>    

 