<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<section>
                <h1>오답노트수정</h1>
                <p class="pxp-text-light">modify WrongAnswer Note</p>
                <form>
                    <div class="row mt-4 mt-lg-5">  
                   	<!-- 제목입력란 start -->
                     <div class="row mt-4 mt-lg-5">
                     <h2><strong><span class="fa fa-check"></span>제목 입력</strong></h2>	                    
                      <div class="mb-3">
                       <input type="text" class="form-control" placeholder="제목을 입력해주세요.">
                  	 </div>	                        
                     </div>
                    <!-- 제목입력란 end -->
                    <!-- 자격증선택 start -->                
                	<h2><strong><span class="fa fa-check"></span>자격증 선택</strong></h2>
                        <div class="col-md-6 col-xxl-3">
                            <label for="pxp-company-job-category" class="form-label">대분류</label>
                                <select id="pxp-company-job-category" class="form-select">
                                    <option>Select a category</option>
                                </select>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
                                <label for="pxp-company-job-category" class="form-label">중분류</label>
                                <select id="pxp-company-job-category" class="form-select">
                                    <option>Select a category</option>
                                </select>
                            </div>
                        </div>                       
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
                                <label for="pxp-company-job-category" class="form-label">자격증명</label>
                                <select id="pxp-company-job-category" class="form-select">
                                    <option>Select a category</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- 자격증선택 end -->                      
                    <!-- 과목선택 start --> 
                    <div class="row mt-4 mt-lg-5">
                    <h2><strong><span class="fa fa-check"></span>과목 선택</strong></h2>
                        <div class="col-md-6 col-xxl-3">
                            <label for="pxp-company-job-category" class="form-label">과목</label>
                                <select id="pxp-company-job-category" class="form-select">
                                    <option>Select a category</option>
                                </select>
                        </div>
                        <div class="col-md-6 col-xxl-3">
                            <div class="mb-3">
                                <label for="pxp-company-job-category" class="form-label">과목명</label>
                                <select id="pxp-company-job-category" class="form-select">
                                    <option>Select a category</option>
                                </select>
                            </div>
                       </div>
                      <!-- 과목선택 end -->   
                      	<!-- 문제입력란 start -->
                        <div class="row mt-4 mt-lg-5">
                        <h2><strong><span class="fa fa-check"></span>문제 입력</strong></h2>	                    
	                        <div class="mb-3">
		                        <textarea class="form-control" id="pxp-company-job-description" placeholder="문제를 입력해주세요."></textarea>
	                    	</div>	                        
                        </div>
                     	<!-- 문제입력란 end -->                 	
                        <!-- 틀린이유입력란 start -->
                        <div class="row mt-4 mt-lg-5">
                        <h2><strong><span class="fa fa-check"></span>틀린이유입력</strong></h2>
	                        <div class="mb-3">
		                        <textarea class="form-control" id="pxp-company-job-description" placeholder="틀린이유를 입력해주세요."></textarea>
	                    	</div>
                        </div>
                       <!-- 틀린이유입력란 end -->
                       <!-- 풀이입력란 start -->
                        <div class="row mt-4 mt-lg-5">
                        <h2><strong><span class="fa fa-check"></span>풀이입력</strong></h2>
	                        <div class="mb-3">
		                        <textarea class="form-control" id="pxp-company-job-description" placeholder="풀이를 입력해주세요."></textarea>
	                    	</div>
                        </div>
                       <!-- 해설입력란 end -->
	                   <div class="mt-4 mt-lg-5">
	                        <button type="button" onclick="location.href='/wrongAnswerNoteList'" class="btn rounded-pill pxp-section-cta">수정</button>
	                        <button type="button" onclick="location.href='/wrongAnswerNoteList'" class="btn rounded-pill pxp-section-cta-o ms-3">취소</button>
                    	</div>                                      
                    	</div>
                    </div>
                </form>     
		</section>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

 