<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<br><br><br>
		<h2 class="pxp-section-h2 text-center">고객센터</h2>
        <p class="pxp-text-light text-center">Customer Service Center</p>
		<br>
        <div class="row mt-4 mt-md-5 justify-content-center pxp-animate-in pxp-animate-in-top">
	        <div class="col-lg-4 col-xxl-3 pxp-contact-card-1-container">
	            <a href="/addQnaQuestion" class="pxp-contact-card-1">
	                <div class="pxp-contact-card-1-icon-container">
	                    <div class="pxp-contact-card-1-icon">
	                        <span class="fa fa-question"></span>
	                    </div>
	                </div>
	                <div class="pxp-contact-card-1-title">1:1 문의</div>
	            </a>
	        </div>
            <div class="col-lg-4 col-xxl-3 pxp-contact-card-1-container">
                <a href="/cheatMemberRequest" class="pxp-contact-card-1">
                    <div class="pxp-contact-card-1-icon-container">
                        <div class="pxp-contact-card-1-icon">
                            <span class="fa fa-bullhorn"></span>
                        </div>
                    </div>
                    <div class="pxp-contact-card-1-title">부정회원신고</div>
                </a>
            </div>
        </div>
		<!--  end contents -->
		<br><br>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>