<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
  		<section class="pxp-hero vh-100" style="background-color: var(--pxpMainColorLight);" th:fragment="mainFragment">
            <div class="pxp-hero-caption">
                <div class="pxp-container">
                    <div class="row pxp-pl-80 align-items-center justify-content-between">
                        <div class="col-12 col-xl-6 col-xxl-5 ">
                            <h1>100% 합격보장<br><span style="color: var(--pxpMainColor);">자격증</span> 취득 <br> 플랫폼</h1>
                            <div class="pxp-hero-subtitle mt-3 mt-lg-4">Save Your <strong>License</strong> !</div>

                            <div class="pxp-hero-searches-container">
                                <div class="pxp-hero-searches-label">수많은 자격증들을 만나보세요!</div>
                                <div class="pxp-hero-searches">
                                    <div class="pxp-hero-searches-items">
                                        <a href="jobs-list-1.html">정보처리기사</a>
                                        <a href="jobs-list-1.html">무선통신사</a>
                                        <a href="jobs-list-1.html">간호조무사</a>
                                        <a href="jobs-list-1.html">제과기능사</a>
                                        <a href="jobs-list-1.html">의공기사</a>
                                        <a href="jobs-list-1.html">SQLD</a>
                                        <a href="jobs-list-1.html">CCDA</a>
                                        <a href="jobs-list-1.html">보건교사</a>
                                        <a href="jobs-list-1.html">독서지도사</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-xl-block col-xl-5 position-relative">
                            <div class="pxp-hero-cards-container pxp-animate-cards pxp-mouse-move" data-speed="160">
                                <div class="pxp-hero-card pxp-cover pxp-cover-top" style="background-color:blue;"></div>
                                <div class="pxp-hero-card-dark"></div>
                                <div class="pxp-hero-card-light"></div>
                            </div>

                            <div class="pxp-hero-card-info-container pxp-mouse-move" data-speed="60">
                                <div class="pxp-hero-card-info pxp-animate-bounce">
                                    <div class="pxp-hero-card-info-item">
                                        <div class="pxp-hero-card-info-item-number">286<span>합격자</span></div>
                                        <div class="pxp-hero-card-info-item-description">정보처리기사</div>
                                    </div>
                                    <div class="pxp-hero-card-info-item">
                                        <div class="pxp-hero-card-info-item-number">154<span>합격자</span></div>
                                        <div class="pxp-hero-card-info-item-description">무선통신사</div>
                                    </div>
                                    <div class="pxp-hero-card-info-item">
                                        <div class="pxp-hero-card-info-item-number">319<span>합격자</span></div>
                                        <div class="pxp-hero-card-info-item-description">간호조무사</div>
                                    </div>
                                    <div class="pxp-hero-card-info-item">
                                        <div class="pxp-hero-card-info-item-number">120<span>합격자</span></div>
                                        <div class="pxp-hero-card-info-item-description">의공기사</div>
                                    </div>
                                    <div class="pxp-hero-card-info-item">
                                        <div class="pxp-hero-card-info-item-number">176<span>합격자</span></div>
                                        <div class="pxp-hero-card-info-item-description">독서지도사</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pxp-hero-logos-carousel-container">
                <div class="pxp-container">
                    <div class="row pxp-pl-80">
                        <div class="col-12 col-xl-6">
                            <div class="pxp-hero-logos-carousel owl-carousel">
                                <img src="images/hero-logo-1.svg" alt="Logo 1">
                                <img src="images/hero-logo-2.svg" alt="Logo 2">
                                <img src="images/hero-logo-3.svg" alt="Logo 3">
                                <img src="images/hero-logo-4.svg" alt="Logo 4">
                                <img src="images/hero-logo-5.svg" alt="Logo 5">
                                <img src="images/hero-logo-6.svg" alt="Logo 6">
                                <img src="images/hero-logo-7.svg" alt="Logo 7">
                                <img src="images/hero-logo-1.svg" alt="Logo 8">
                                <img src="images/hero-logo-2.svg" alt="Logo 9">
                                <img src="images/hero-logo-3.svg" alt="Logo 10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pxp-hero-right-bg-card pxp-has-animation"></div>
        </section>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>