<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<h1>Mypage</h1>
	<br>
			<div class="row mt-4 mt-lg-5 align-items-center">
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-address-card" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/modifyMemberInfo"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">회원관리</div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-check" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/passMemberList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">합격자<br>인증</div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-pencil" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/AcceptanceList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">합격자<br>리뷰 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-user-o" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/membershipMemberList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">멤버십</div></a>
							</div>
						</div>
					</div>
					<!--  -->
			</div>
			<div class="row mt-4 mt-lg-5 align-items-center">
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-book" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/noteList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">공부노트 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-star" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/saveUsePointList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">포인트 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-credit-card" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/mPayList"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">결제 </div></a>
							</div>
						</div>
					</div>
					<!--  -->
					<!--  -->
					<div class="col-sm-6 col-xxl-3">
						<div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
							<div class="pxp-dashboard-stats-card-icon text-primary">
								<span class="fa fa-question" ></span>
							</div>
							<div class="pxp-dashboard-stats-card-info">		        
								<a href="/qnaQuestionDetail"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">1:1문의</div></a>
							</div>
						</div>
					</div>
					<!--  -->
			</div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

