<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	</head>
	<script>

	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<section class="pxp-page-header-simple" style="background-color: var(--pxpMainColorLight);">
            <div class="pxp-container">
                <h1>100% 합격보장!</h1><br><br>
                <h3><div class="pxp-hero-subtitle pxp-text-ligh" style="text-align:center;">합격을 위한 한걸음!</div>
            </div>
        </section>
		<section><br><br>
		<h3 class="pxp-section-h2 text-center" id="" th:text="${licenseInfoListLiName}"></h3><br>
		<p class="pxp-text-light text-center"></p>
	    	<div class="pxp-container" id="licenseInfoList">
				<section>
            <div class="pxp-container">
                <div class="pxp-single-candidate-hero pxp-cover pxp-boxed">
                <img th:src="@{|/licenseImage/${licenseInfoListImage}|}">
                    <div class="pxp-hero-opacity"></div>
                    <div class="pxp-single-candidate-hero-caption">
                        <div class="pxp-container">
                            <div class="pxp-single-candidate-hero-content">
                               
                                <div class="pxp-single-candidate-hero-name">
                                    <h1 th:text="${licenseInfoListLimcName}"></h1>
                                    <div class="pxp-single-candidate-hero-title" th:text="${licenseInfoListLiscName}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section>
            <div class="pxp-container">
                <div class="pxp-single-candidate-container pxp-has-columns">
                    <div class="row">
                        <div class="col-lg-7 col-xl-8 col-xxl-9">
                            

                            <section class="mt-4 mt-lg-5">
                                <div class="pxp-single-candidate-content">
                                    <h2><i class="bi bi-info-circle"></i>&nbsp;&nbsp;개요</h2>
                                    <h4><p th:text="${licenseInfoListLiOverview}"></p></h4>
        
                                    <div class="mt-4 mt-lg-5">
                                        <h2><i class="bi bi-info-circle"></i>&nbsp;&nbsp;응시자격</h2>
                                        <div>참고 : &nbsp;
                                        <a th:href="@{${licenseInfoListLiqualification}}" th:text="${licenseInfoListLiqualification}"></a></div>
                                    </div>
        
                                    <div class="mt-4 mt-lg-5">
                                        <h2><i class="bi bi-info-circle"></i>&nbsp;&nbsp;시험일정</h2>
                                        <div class="pxp-single-candidate-timeline">
                                            <div class="pxp-single-candidate-timeline-item">
                                                <div class="pxp-single-candidate-timeline-dot"></div>
                                                <div class="pxp-single-candidate-timeline-info ms-3">
                                                    <div class="pxp-single-candidate-timeline-position mt-2">접수기간</div>
                                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4" th:text="${licenseInfoListLdPeriod}"></div>
                                                </div>
                                            </div>
                                            <div class="pxp-single-candidate-timeline-item">
                                                <div class="pxp-single-candidate-timeline-dot"></div>
                                                <div class="pxp-single-candidate-timeline-info ms-3">
                                                    <div class="pxp-single-candidate-timeline-position mt-2">시험일</div>
                                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4" th:text="${licenseInfoListLdDate}"></div>
                                                </div>
                                            </div>
                                            <div class="pxp-single-candidate-timeline-item">
                                                <div class="pxp-single-candidate-timeline-dot"></div>
                                                <div class="pxp-single-candidate-timeline-info ms-3">
                                                    <div class="pxp-single-candidate-timeline-position mt-2">합격자발표일</div>
                                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4" th:text="${licenseInfoListLdAcceptanceDate}"></div>
                                                </div>
                                            </div>
                                            <div class="pxp-single-candidate-timeline-item">
                                                <div class="pxp-single-candidate-timeline-dot"></div>
                                                <div class="pxp-single-candidate-timeline-info ms-3">
                                                    <div class="pxp-single-candidate-timeline-position mt-2">시험비용</div>
                                                    <div class="pxp-single-candidate-timeline-about mt-2 pb-4" th:text="${licenseInfoListLdCost}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mt-lg-5">
                        <h2><i class="bi bi-info-circle"></i>&nbsp;&nbsp;시험과목</h2>
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th style="width: 15%;">과목</th>
                                    <th style="width: 15%;">과목명</th>
                                    
                                </tr>
                            </thead>    
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(licenseInfoList)}"
									th:each="l : ${licenseInfoList}">
                                    <td><div class="pxp-company-dashboard-job-title" 	th:text="${l.licenseSubject.lsSubject}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.licenseSubject.lsName}"></div></td>
                                </tr> 
                            </tbody>
                        </table>   
                        </div>                
                       <br><br>
                        <div class="mt-4 mt-lg-5">
                           <h2><i class="bi bi-arrow-right-square"></i>
                           <a href="http://www.q-net.or.kr/main.jsp">&nbsp;&nbsp;접수하기</a>
                           </h2>
                       	</div>
                                </div>
                                
                            </section>
                        </div><br><br>
                        
                    </div>
                </div>
            </div>
        </section>
            </div>
        </section><br><br><br>
			</div>
		</section>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>