<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		 <div class="pxp-dashboard-content-details">
 				<h1>일별상품매출</h1>
                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-1 order-sm-2">
                            <div class="pxp-company-dashboard-jobs-search mb-3">
                                <div class="pxp-company-dashboard-jobs-search-search-form">
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
					<div class="pxp-dashboard-table-options">
                        <ul class="list-unstyled">
                                                
                        </ul>
                    </div>
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th class="pxp-is-checkbox" style="width: 1%;"></th>
                                    <th style="width: 15%;">일별상품매출</th>
                                    <th style="width: 10%;">일_매출마감그룹</th>
                                    <th style="width: 15%;">최종결제합계</th>
                                    <th style="width: 15%;">등록일자</th>
                                    <th style="width: 15%;">등록자아이디</th>
                                    <th style="width: 10%;">월_매출마감그룹</th>
                                    <th style="width: 30%;">년월</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                 <tr th:if="${not #lists.isEmpty(dailySalesList)}"
									th:each="l : ${dailySalesList}">
                                    <td></td>
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.dsCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsEndGroup}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsTotalPayment}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsRegDate}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.memId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.msEndGroup}"></div></td>                      
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsYearAndMonth}"></div></td>   
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                                                       
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(dailySalesList)}">
									<td colspan="9">등록된 정보가 없습니다.</td>
								</tr>                    
                                    
                            </tbody>
                        </table>
						
                    </div>
                <!-- 목록 end -->    
                </div>
            </div>     
             <div class="pxp-dashboard-content-details">
 				<h1>일별상품환불</h1>
                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-1 order-sm-2">
                            <div class="pxp-company-dashboard-jobs-search mb-3">
                                <div class="pxp-company-dashboard-jobs-search-search-form">
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
					<div class="pxp-dashboard-table-options">
                        <ul class="list-unstyled">
                                               
                        </ul>
                    </div>
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th class="pxp-is-checkbox" style="width: 1%;"></th>
                                    <th style="width: 15%;">일별상품환불</th>
                                    <th style="width: 10%;">일_환불마감그룹</th>
                                    <th style="width: 15%;">최종환불합계</th>
                                    <th style="width: 15%;">등록일자</th>
                                    <th style="width: 15%;">등록자아이디</th>
                                    <th style="width: 10%;">월_환불마감그룹</th>
                                    <th style="width: 30%;">년월</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                 <tr th:if="${not #lists.isEmpty(dailyRefundList)}"
									th:each="l : ${dailyRefundList}">
                                    <td></td>
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.drCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.drEndGroup}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.drTotalPayment}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.drRegDate}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.memId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.mrEndGroup}"></div></td>                      
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.drYearAndmonth}"></div></td>   
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                                                         
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(dailyRefundList)}">
									<td colspan="9">등록된 정보가 없습니다.</td>
								</tr>                    
                                    
                            </tbody>
                        </table>
					
                    </div>
                <!-- 목록 end -->    
                </div>
            </div>     
             <div class="pxp-dashboard-content-details">
 				<h1>일별 매출 및 환불</h1>
                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-1 order-sm-2">
                            <div class="pxp-company-dashboard-jobs-search mb-3">
                                <div class="pxp-company-dashboard-jobs-search-search-form">
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
					<div class="pxp-dashboard-table-options">
                        <ul class="list-unstyled">
                                                            
                        </ul>
                    </div>
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th class="pxp-is-checkbox" style="width: 1%;"></th>
                                    <th style="width: 13%;">일별상품매출및환불</th>
                                    <th style="width: 13%;">일_매출 및 환불 마감그룹</th>
                                    <th style="width: 8%;">최종합계</th>
                                    <th style="width: 10%;">매출/환불구분</th>
                                    <th style="width: 8%;">관련테이블</th>
                                    <th style="width: 8%;">관련업무명</th>
                                    <th style="width: 8%;">등록일자</th>
                                    <th style="width: 8%;">등록자아이디</th>
                                    <th style="width: 13%;">월_매출및환불마감그룹</th>
                                    <th style="width: 8%;">년월</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                 <tr th:if="${not #lists.isEmpty(dailySalesAndRefundList)}"
									th:each="l : ${dailySalesAndRefundList}">
                                    <td></td>
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.dsarCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsarEndGroup}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsarTotalPayment}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.salesOrRefund}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.relatedTable}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.relatedWork}"></div></td>                      
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsarRegDate}"></div></td>   
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.memId}"></div></td>   
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.msarEndGroup}"></div></td>   
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dsarYearAndMonth}"></div></td>   
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                                                                        
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(dailySalesAndRefundList)}">
									<td colspan="9">등록된 정보가 없습니다.</td>
								</tr>                    
                                    
                            </tbody>
                        </table>
					
                    </div>
                <!-- 목록 end -->    
                </div>
            </div>     
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
