<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	 <div class="pxp-dashboard-content-details">

                    
                <h1>매출메인</h1>
               

                <div class="row mt-4 mt-lg-5 align-items-center">
                    <div class="col-sm-6 col-xxl-3">
                        <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                           <div class="pxp-dashboard-stats-card-icon text-primary">
                                <span class="fa fa-calculator" ></span>
                            </div>
                            <div class="pxp-dashboard-stats-card-info">
                            
                                <a href="/listDailySales"><div class="pxp-dashboard-stats-card-info-text pxp-text-light">일별 매출 </div></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xxl-3">
                        <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                            <div class="pxp-dashboard-stats-card-icon text-success">
                                <span class="fa fa-calculator"></span>
                            </div>
                            <div class="pxp-dashboard-stats-card-info">
                            
                               <a href="/listMonthlySales"> <div class="pxp-dashboard-stats-card-info-text pxp-text-light">월별 매출 </div></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xxl-3">
                        <div class="pxp-dashboard-stats-card bg-primary bg-opacity-10 mb-3 mb-xxl-0">
                            <div class="pxp-dashboard-stats-card-icon text-warning">
                                <span class="fa fa-calculator"></span>
                            </div>
                            <div class="pxp-dashboard-stats-card-info">
                               
                                <a href="/listAnnualSales"> <div class="pxp-dashboard-stats-card-info-text pxp-text-light">년별 매출 </div></a>
                            </div>
                        </div>
                    </div>
                  
                </div>

                <div class="row mt-4 mt-lg-5">
                    <div class="col-xl-6">
                        <h2>지난달매출</h2>
                        <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                            <div class="row justify-content-between align-content-center mb-4">
                                <div class="col-auto">
                                    <span class="pxp-dashboard-chart-value">154</span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 34%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select">
                                        <option value="-7 days">Last 7 days</option>
                                        <option value="-30 days">Last 30 days</option>
                                        <option value="-60 days">Last 60 days</option>
                                        <option value="-90 days">Last 90 days</option>
                                        <option value="-12 months">Last 12 months</option>
                                    </select>
                                </div>
                            </div>
                            <canvas id="pxp-company-dashboard-visits-chart"></canvas>
                        </div>
                    </div> 
                    <div class="col-xl-6">
                        <h2 class="mt-4 mt-lg-5 mt-xl-0">이번달매출</h2>
                        <div class="mt-3 mt-lg-4 pxp-dashboard-chart-container">
                            <div class="row justify-content-between align-content-center mb-4">
                                <div class="col-auto">
                                    <span class="pxp-dashboard-chart-value">280</span><span class="pxp-dashboard-chart-percent text-success"><span class="fa fa-long-arrow-up"></span> 56%</span><span class="pxp-dashboard-chart-vs">vs last 7 days</span>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select">
                                        <option value="-7 days">Last 7 days</option>
                                        <option value="-30 days">Last 30 days</option>
                                        <option value="-60 days">Last 60 days</option>
                                        <option value="-90 days">Last 90 days</option>
                                        <option value="-12 months">Last 12 months</option>
                                    </select>
                                </div>
                            </div>
                            <canvas id="pxp-company-dashboard-app-chart"></canvas>
                        </div>
                    </div>
                </div>
	   
             
            

            </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	 
	</th:block>
	<!-- customJs end -->
</html>
