<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
		function validateValue(checkValue) {
			if(    typeof checkValue == 'undefined' 
					|| checkValue == null 
					|| checkValue == ''					){
				return true;
			}
			return false;
			
		}
	
	// 관리자 인증
		$('#ldRegId').on('input', function(){
			$('#addLicenseDateForm input').not('#ldRegId').prop('disabled', true);
		  	$('#addLicenseDateForm select').prop('disabled', true);
		  	$('#addLicenseDateForm button').not('#checkBtn').prop('disabled', true);
		});
	
		$('#checkBtn').click(function(){
			let lmcRegId = $('#ldRegId').val();
			
			if(validateValue(ldRegId)){
				alert('관리자 인증을 해주세요');
				$('#ldRegId').focus();
				return false;					
			}					

			let request = $.ajax({
				  url: '/idCheck',
				  method: 'GET',
				  data: { 'inputId' : lmcRegId },
				  dataType: 'json'
			});
			
			//성공 
			request.done(function( isChecked ) {
				console.log(isChecked, '데이터타입 확인');
			  	  
				if(isChecked){
					alert('인증 완료')
				  	$('#addLicenseDateForm input').not('#ldRegId').prop('disabled', false);
				  	$('#addLicenseDateForm select').prop('disabled', false);
				  	$('#addLicenseDateForm button').not('#checkBtn').prop('disabled', false);
						
				}else{
			  	  	alert('관리자 아이디가 일치하지 않습니다.');
			  	  	$('#lmcRegId').val('');
				  	$('#addLicenseDateForm input').not('#ldRegId').prop('disabled', true);
				  	$('#addLicenseDateForm select').prop('disabled', true);
				  	$('#addLicenseDateForm button').not('#checkBtn').prop('disabled', true);
					$('#ldRegId').focus();
				}
			});
			
			//실패 
			request.fail(function( jqXHR, textStatus ) {
			  	  console.log('Request failed: ' + textStatus );
			});
		});
		
		

		/* 유효성검사를 구현하시오. (#submitBtn 를 클릭 시) */
		$('#submitBtn').click(function(){
			let isSubmit = true;
			
			$('#addLicenseDateForm input').each(function(idx, item){
				let checkValue = $(item).val();
				let labelValue = $(item).parent('.mb-3').find('label').text();
				if(validateValue(checkValue)){
					
					alert(`${labelValue}를 입력해주세요`);
					$(item).focus();
					isSubmit = false;
					return false;
				}
				
			});   
			


			if(isSubmit) $('#addLicenseDateForm').submit();
		});
	});
	

	
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1>자격증대분류 등록</h1>
		<form id="addLicenseDateForm" th:action="@{/addlicenseDate}" name="myform" method="post">
              <div class="row mt-4 mt-lg-5">
                  <div class="col-xxl-8">
                      <div class="row">
                      </div>
                      <div class="row">
                      </div><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldRegId" class="form-label"><h4>관리자 아이디</h4></label>
                                  <button type="button" id="checkBtn" class="btn rounded-pill pxp-section-cta-o ms-3">관리자 인증</button>
                                  <input type="text" id="ldRegId" class="form-control" name="ldRegId" placeholder="관리자 아이디">
                              </div>
                          </div>
                      </div><br><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldCode" class="form-label"><h6>자격증 일정 코드</h6></label><h12>&nbsp;&nbsp;예시)ld000</h12>
                                  <input type="text" id="ldCode" class="form-control" name="ldCode" placeholder="자격증 일정 코드" disabled="disabled">
                              </div>
                          </div>
                      </div>     
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liCode" class="form-label"><h6>자격증 코드</h6></label><h12>&nbsp;&nbsp;예시)li000</h12>
                                  <input type="text" id="liCode" class="form-control" name="liCode" placeholder="자격증 코드" disabled="disabled">
                              </div>
                          </div>
                      </div>                     
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldPeriod" class="form-label"><h6>접수기간</h6></label>
                                  <input type="text" id="ldPeriod" class="form-control" name="ldPeriod" placeholder="접수기간" disabled="disabled">
                              </div>
                          </div>
                      </div>
                       <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldDate" class="form-label"><h6>시험일</h6></label>
                                  <input type="text" id="ldDate" class="form-control" name="ldDate" placeholder="시험일">
                              </div>
                          </div>
                      </div>
                       <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldAcceptanceDate" class="form-label"><h6>합격자 발표일</h6></label>
                                  <input type="text" id="ldAcceptanceDate" class="form-control" name="ldAcceptanceDate" placeholder="합격자 발표일">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldCost" class="form-label"><h6>시험비용</h6></label>
                                  <input type="text" id="ldCost" class="form-control" name="ldCost" placeholder="시험비용">
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
              
              <div class="mt-4 mt-lg-5">
                  <button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
              </div>
          </form>
	</th:block>
	<!-- customContents end -->

	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>