<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
		function validateValue(checkValue) {
			if(    typeof checkValue == 'undefined' 
					|| checkValue == null 
					|| checkValue == ''					){
				return true;
			}
			return false;
			
		}
	
		// 취소 버튼 클릭시 리다이렉트
		$(function(){
			$('#resetBtn').click(function(){
				location.href = '/licenseDateList';
			});
		});
	
	// 관리자 인증
		$('#ldRegId').on('input', function(){
			$('#addLicenseDateForm input').not('#ldRegId').prop('disabled', true);
		  	$('#addLicenseDateForm select').prop('disabled', true);
		  	$('#addLicenseDateForm button').not('#checkBtn').prop('disabled', true);
		});
	
		$('#checkBtn').click(function(){
			let lmcRegId = $('#ldRegId').val();
			
			if(validateValue(ldRegId)){
				alert('관리자 인증을 해주세요');
				$('#ldRegId').focus();
				return false;					
			}					

			let request = $.ajax({
				  url: '/ldCheck',
				  method: 'GET',
				  data: { 'inputId' : lmcRegId },
				  dataType: 'json'
			});
			
			//성공 
			request.done(function( isChecked ) {
				console.log(isChecked, '데이터타입 확인');
			  	  
				if(isChecked){
					alert('인증 완료')
				  	$('#addLicenseDateForm input').not('#ldRegId').prop('disabled', false);
				  	$('#addLicenseDateForm select').prop('disabled', false);
				  	$('#addLicenseDateForm button').not('#checkBtn').prop('disabled', false);
						
				}else{
			  	  	alert('관리자 아이디가 일치하지 않습니다.');
			  	  	$('#lmcRegId').val('');
				  	$('#addLicenseDateForm input').not('#ldRegId').prop('disabled', true);
				  	$('#addLicenseDateForm select').prop('disabled', true);
				  	$('#addLicenseDateForm button').not('#checkBtn').prop('disabled', true);
					$('#ldRegId').focus();
				}
			});
			
			//실패 
			request.fail(function( jqXHR, textStatus ) {
			  	  console.log('Request failed: ' + textStatus );
			});
		});
		
		/* 자격증 이름 클릭시 코드 자동 등록*/
		$(function(){
			$('#liName').val($('#liCode option:selected').text());
			$(document).on('change', '#liCode', function(){
				//console.log($('#liCode option:selected').text());
				let selectedLiName = $('#liCode option:selected').text();
				$('#liName').val(selectedLiName);
			});
			

		})
		
		

		/* 유효성검사를 구현하시오. (#submitBtn 를 클릭 시) */
		$('#submitBtn').click(function(){
			let isSubmit = true;
			
			$('#addLicenseDateForm input').each(function(idx, item){
				let checkValue = $(item).val();
				let labelValue = $(item).parent('.mb-3').find('label').text();
				if(validateValue(checkValue)){
					
					alert(`${labelValue}를 입력해주세요`);
					$(item).focus();
					isSubmit = false;
					return false;
				}
				
			});   
			


			if(isSubmit) $('#addLicenseDateForm').submit();
		});
	});
	

	
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1><a th:href="@{/licenseDateList}">자격증 일정 등록</a></h1>
		<form id="addLicenseDateForm" th:action="@{/addlicenseDate}" name="myform" method="post">
              <div class="row mt-4 mt-lg-5">
                  <div class="col-xxl-8">
                      <div class="row">
                      </div>
                      <div class="row">
                      </div><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldRegId" class="form-label"><h4>관리자 아이디</h4></label>
                                  <button type="button" id="checkBtn" class="btn rounded-pill pxp-section-cta-o ms-3">관리자 인증</button>
                                  <input type="text" id="ldRegId" class="form-control" name="ldRegId" placeholder="관리자 아이디">
                              </div>
                          </div>
                      </div><br><br>
                         
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liCode" class="form-label"><h6>자격증 이름</h6></label><h12>&nbsp;&nbsp;</h12>
                                  <select class="form-select" id="liCode" name="liCode" disabled="disabled">
                             		 <th:block th:if="${not #lists.isEmpty(getLicenseDateList)}" 
										  th:each="l : ${getLicenseDateList}">								
									<option th:value="${l.licenseInfo.liCode}">[[${l.licenseInfo.liName}]]</option>
									</th:block>
									<th:block th:unless="${not #lists.isEmpty(getLicenseDateList)}">								
									<option>등록된 정보가 없습니다.</option>
                               		</select>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liName" class="form-label"></label>
                                   <input type="hidden" id="liName" class="form-control" name="liName">
                              </div>
                          </div>
                      </div>                     
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldPeriod" class="form-label"><h6>접수기간</h6></label>
                                  <input type="text" id="ldPeriod" class="form-control" name="ldPeriod" placeholder="접수기간" disabled="disabled">
                              </div>
                          </div>
                      </div>
                       <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldDate" class="form-label"><h6>시험일</h6></label>
                                  <input type="text" id="ldDate" class="form-control" name="ldDate" placeholder="시험일" disabled="disabled">
                              </div>
                          </div>
                      </div>
                       <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldAcceptanceDate" class="form-label"><h6>합격자 발표일</h6></label>
                                  <input type="text" id="ldAcceptanceDate" class="form-control" name="ldAcceptanceDate" placeholder="합격자 발표일" disabled="disabled">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="ldCost" class="form-label"><h6>시험비용</h6></label>
                                  <input type="text" id="ldCost" class="form-control" name="ldCost" placeholder="시험비용" disabled="disabled">
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
              
              <div class="mt-4 mt-lg-5">
                  <button type="button" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
              </div>
          </form>
	</th:block>
	<!-- customContents end -->

	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>