<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
		<script>
			
		</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
        <section class="pxp-page-header-simple" style="background-color: var(--pxpMainColorLight);">
            <div class="pxp-container">
                <h1>부정 회원 신고</h1>
                <div class="pxp-hero-subtitle pxp-text-ligh">Challenge Goal</div>
            </div>
        </section>
		<form id="cheetRequestForm" action="/customerCenter" method="post" enctype="multipart/form-data">
	        <section class="mt-100">
	            <div class="pxp-container">
	            		<input type="hidden" name="cmReportId" th:value="${session.SID}"/>
	                    <!-- 자격증선택 start -->                
	                	<h2><strong><span class="fa fa-check"></span>&nbsp;신고 사유</strong></h2>
	                        <div class="col-md-6 col-xxl-3">
	                            <label for="pxp-company-job-category" class="form-label">신고 사유</label>
	                                <select id="pxp-company-job-category" name="cmReportReason" class="form-select">
	                                    <option>욕설 / 인신공격</option>
	                                    <option>홍보성 게시물</option>
	                                    <option>도배글(같은정보반복게시)</option>
	                                </select>
	                        </div>
	                    <!-- 자격증선택 end -->  
	                    
	             <!-- 신고 내용 입력 start -->
	               <div class="row mt-4 mt-lg-5">
	                	<h2><strong><span class="fa fa-check"></span>&nbsp;신고 내용</strong></h2>                    
		               <div class="mb-3">
			             <textarea class="form-control" id="pxp-company-job-description" name="cmReportContent" placeholder="신고 내용을 입력해주세요."></textarea>
		               </div>	                        
	               </div>
	              <!-- 신고 내용 입력 end -->                     
	                                        
	                      	<!-- 첨부파일 start -->
	                        <div class="row mt-4 mt-lg-5">
	                        <h2><strong><span class="fa fa-check"></span>&nbsp;부정 증빙 자료</strong></h2>	                    
		                        <div class="mb-3">
			   						<input type="file" id="cheatFile" name="cheatFiles" accept="image/png, image/jpeg"  multiple="multiple">
		                    	</div>	                        
	                        </div>
	                     	<!-- 첨부파일 end --> 
		                   <div class="mt-4 mt-lg-5">
		                        <button type="submit" class="btn rounded-pill pxp-section-cta")>신고</button>
		                        <button type="button" onclick="location.href='/cheatMemberRequest'" class="btn rounded-pill pxp-section-cta-o ms-3">취소</button>
	                    	</div>
	                    	</div>
	         </section>
         </form>     
            <!-- end contents -->
		<br><br>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

