<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			$('#resetBtn').click(function(){
				location.href = '/licenseMainList';
			});
		});
		
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<h1><a th:href="@{/licenseMainList}">자격증 대분류 수정</a></h1>
		<form id="modifyLicenseMainForm" th:action="@{/modifylicenseMain}" name="myform" method="post">
              <div>
                  <div class="col-xxl-8">
                      <div class="row">
                      <div class="row">    
                      </div><br><br>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lmcCode" class="form-label"><h6>자격증 대분류코드</h6></label><h12></h12>
                                  <input type="text" id="lmcCode" class="form-control" name="lmcCode" placeholder="자격증 대분류코드"
                                  		 th:value="${licenseMainInfo.lmcCode}" readonly="readonly">
                              </div>
                          </div>
                      </div>                     
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lmcName" class="form-label"><h6>자격증 대분류명</h6></label>
                                  <input type="text" id="lmcName" class="form-control" name="lmcName" placeholder="자격증 대분류명"
                                         th:value="${licenseMainInfo.lmcName}">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="mt-4 mt-lg-5">
                  <button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
              </div>
          </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>