<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.LicensePassScoreMapper">
	
	<resultMap type="LicensePassScore" id="licensePassScoreResultMap">
		<id 	property="liPScoreCode" 			column="li_p_score_code"/>
		<result property="liCode" 					column="li_code"/>		
		<result property="liName" 					column="li_name"/>		
		<result property="liPStandardScore" 		column="li_p_standard_score"/>		
		<result property="liPScoreRegId" 			column="li_p_score_reg_id"/>		
		<result property="liPScoreRegDateTime" 		column="li_p_score_reg_datetime"/>	
	</resultMap>
	<resultMap type="LicenseInfo" id="licenseInfoResultMap">
		<id property="liCode" 				column="li_code"/>
		<result property="lscCode" 			column="lsc_code"/>
		<result property="liName" 			column="li_name"/>
		<result property="liOverview" 		column="li_overview"/>
		<result property="liQualification" 	column="li_qualification"/>
		<result property="liRegId" 			column="li_reg_id"/>
		<result property="liRegDatetime" 	column="li_reg_datetime"/>
	</resultMap>
	
	<insert id="addLicensePassScore" parameterType="LicensePassScore">
		/* 자격증별 합격기준 점수 등록 */
		INSERT INTO license_pass_score
		(li_p_score_code, li_code, li_name, li_p_standard_score, li_p_score_reg_id, li_p_score_reg_datetime)
		VALUES
		(sf_new_li_pass_score_code(), #{liCode}, #{lscName}, #{liPStandardScore}, 'id001', CURDATE());
	</insert>
	
	<select id="getLicenseSubList" resultMap="licenseInfoResultMap" parameterType="String">
		/* 자격증 대분류별 중분류 목록 조회*/				
		SELECT 
			 l.lmc_code
			,l.lmc_name
			,l.lsc_code
			,l.lsc_name
		FROM
			license_sub_category AS l
		WHERE 
			l.lmc_code = #{lmcCode};	
	</select>
	<select id="getLicenseMainList" resultMap="licenseInfoResultMap">
			/* 자격증 대분류 목록 조회 */
			SELECT
				lmc.lmc_code,
				lmc.lmc_reg_id,
				lmc.lmc_name,
				lmc.lmc_reg_datetime
			FROM
				license_main_category AS lmc;			
	</select>	
	<select id="getLicensePassScoreList" resultMap="licensePassScoreResultMap">
		/* 자격증별  합격기준 점수 조회 */
		SELECT
			 li_p_score_code
			,li_code
			,li_name
			,li_p_standard_score
			,li_p_score_reg_id
			,li_p_score_reg_datetime
		FROM
			license_pass_score;			
	</select>
</mapper>