<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.LicenseMainMapper">
	
	<resultMap type="LicenseMain" id="licenseMainResultMap">
		<id property="lmcCode" 				column="lmc_code"/>
		<result property="lmcRegId" 		column="lmc_reg_id"/>
		<result property="lmcName" 			column="lmc_name"/>
		<result property="lmcRegDatetime" 	column="lmc_reg_datetime"/>
	</resultMap>
	
	<select id="LicenseMainList" resultMap="licenseMainResultMap">
			
			
			SELECT
				lmc.lmc_code,
				lmc.lmc_reg_id,
				lmc.lmc_name,
				lmc.lmc_reg_datetime
			FROM
				license_main_category AS lmc;
			
	</select>
</mapper>