<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.LicenseSubjectMapper">
	
	<resultMap type="LicenseSubject" id="licenseSubjectResultMap">
		<id property="lsCode" 				column="ls_code"/>
		<result property="liCode" 			column="li_code"/>
		<result property="lsSubject" 		column="ls_subject"/>
		<result property="lsName" 			column="ls_name"/>
		<result property="lsRegId" 			column="ls_reg_id"/>
		<result property="lsRegDatetime" 	column="ls_reg_datetime"/>
	</resultMap>
	
	<select id="getIdCheck" parameterType="String" resultType="boolean">
		/* 관리자 아이디 인증 */
		SELECT
			if(COUNT(lmc.lmc_reg_id) > 0, 1, 0)
		FROM
			license_subject AS ls
		WHERE
			ls.ls_reg_id = #{lsRegId};
	</select>
	
	
	
	<insert id="addLicenseSubject" parameterType="LicenseSubject">
		/* 자격증과목 등록 */
		INSERT INTO license_subject
		( ls_code
		 ,li_code
		 ,ls_subject
		 ,ls_name
		 ,ls_reg_id
		 ,ls_reg_datetime) 
		VALUES 
		(#{lsCode}, #{liCode}, #{lsSubject}, #{lsName}, #{lsRegId}, CURDATE());

	</insert>
	
	
	<select id="LicenseSubjectList" resultMap="licenseSubjectResultMap">
		/* 자격증과목 목록 조회 */
		SELECT
			 ls.ls_code
			,ls.li_code
			,ls.ls_subject
			,ls_name
			,ls_reg_id
			,ls_reg_datetime
		FROM
			license_subject AS ls;

	</select>
</mapper>