<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.LicenseInfoMapper">
	
	<resultMap type="LicenseInfo" id="licenseInfoResultMap">
		<id property="liCode" 				column="li_code"/>
		<result property="lscCode" 			column="lsc_code"/>
		<result property="liName" 			column="li_name"/>
		<result property="liOverview" 		column="li_overview"/>
		<result property="liQualification" 	column="li_qualification"/>
		<result property="liRegId" 			column="li_reg_id"/>
		<result property="liRegDatetime" 	column="li_reg_datetime"/>
	</resultMap>
		
		<update id="modifyLicenseInfo" parameterType="LicenseInfo">
		/* 특정 자격증 수정*/
		UPDATE 
			license_info
		SET 
			 li_name = #{liName}
			,li_overview = #{liOverview}
			,li_qualification = #{liQualification}
		WHERE 
			li_code= #{liCode};
		</update>
		
		<select id="getLicenseInfoByCode" parameterType="String" resultMap="licenseInfoResultMap">
			/* 특정 자격증 정보 조회 */
			SELECT
				 li.li_code
				,li.lsc_code
				,li.li_name
				,li.li_overview
				,li_qualification
				,li_reg_id
				,li_reg_datetime
			FROM
				license_info AS li
			WHERE
				li.li_code = #{liCode};
		</select>

		
		<select id="getIdCheck" parameterType="String" resultType="boolean">
		/* 관리자 아이디 인증 */
		SELECT
			if(COUNT(li.li_reg_id) > 0, 1, 0)
		FROM
			license_info AS li
		WHERE
			li.li_reg_id = #{liRegId};
	</select>
	
	
	<insert id="addLicenseInfo" parameterType="LicenseInfo">
		/* 자격증 정보 등록 */
		INSERT INTO license_info
		( li_code
		 ,lsc_code
		 ,li_name
		 ,li_overview
		 ,li_qualification
		 ,li_reg_id
		 ,li_reg_datetime) 
		VALUES 
		(#{liCode}, #{lscCode}, #{liName},#{liOverview}, #{liQualification}, #{liRegId}, 
			CURDATE());
			
	</insert>
	
	<select id="LicenseInfoList" resultMap="licenseInfoResultMap">	
	/* 자격증 정보 목록 조회*/
		SELECT
			*
		FROM
			license_info AS li;

			
	</select>
</mapper>