<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.AdminMemberMapper">
	
	<resultMap type="Member" id="MemberResultMap">
		<id property="memId" 						column="mem_id"/>
		<result property="memPw" 					column="mem_pw"/>
		<result property="memName" 					column="mem_name"/>
		<result property="memEmail" 				column="mem_email"/>
		<result property="memBirth" 				column="mem_birth"/>
		<result property="memPhone" 				column="mem_phone"/>
		<result property="memLevelName" 			column="mem_level_name"/>
		<result property="memRegDatetime" 			column="mem_reg_datetime"/>
	</resultMap>

	<!--  <select id="checkMemId" parameterType="String" resultType="boolean">
		/* 아이디 중복체크 */
		SELECT
			IF(COUNT(*)=1, 1, 0)
		FROM
			member as m
		WHERE
			m.mem_id = #{memId}; -->
			
	<update id="modifyMemberInfo" parameterType="Member">
			/* 특정 회원 정보 수정 */
		UPDATE 
			member
		SET 
			mem_pw = #{memPw},
			mem_email = #{memEmail},
			mem_birth = #{memBirth},
			mem_phone = #{memPhone}
		WHERE 
			mem_id= #{memId};
	</update>



	<select id="getTotalMemberInfo" parameterType="String" resultMap="MemberResultMap">
			/* 특정 회원 목록 조회 */
			SELECT
				m.mem_id,
				m.mem_pw,
				m.mem_name,
				m.mem_email,
				m.mem_birth,
				m.mem_phone,
				m.mem_reg_datetime
			FROM
				member as m
			WHERE
				m.mem_id = #{memId};
				
	</select>

	
	
	<select id="TotalMemberList" resultMap="MemberResultMap">
			/* 전체 회원 목록 조회 */
			SELECT
				mem_id,
				mem_pw,
				mem_name,
				mem_email,
				mem_birth,
				mem_phone,
				mem_reg_datetime
			FROM
				member
		<where>
			<if  test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</where>	
	</select>

</mapper>