<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.AdminMembershipMemberMapper">
	
	<resultMap type="MembershipMember" id="MembershipMemberResultMap">
		<id property="mmCode" 							column="mm_code"/>
		<result property="mmId" 						column="mm_id"/>
		<result property="mmMembershipCode" 			column="mm_membership_code"/>
		<result property="mmPeriod" 					column="mm_period"/>
		<result property="mmStartDatetime" 				column="mm_start_datetime"/>
		<result property="mmEndDatetime" 				column="mm_end_datetime"/>
		<result property="mmState" 						column="mm_state"/>
	</resultMap>
	 
	<update id="modifyMembershipMemberInfo" parameterType="String">
	 		/*특정 멤버십 회원 정보 수정*/	
		UPDATE 
			membership_member
		SET 
			mm_period = #{mmPeriod},
			mm_start_datetime = #{mmStartDatetime},
			mm_end_datetime = #{mmEndDatetime},
			mm_state = #{mmState}
		WHERE 
			mm_code= #{mmCode};			
	</update>
	
	<select id="TotalMembershipMemberList" resultMap="MembershipMemberResultMap">
			/*멤버십 회원 조회*/
			SELECT
			mm_id,
			mm_period,
			mm_start_datetime,
			mm_end_datetime,
			mm_state
			FROM
			membership_member;
	</select>
	
	
	<select id="getTotalMembershipMemberInfo" resultMap="MembershipMemberResultMap">
			/*특정 멤버십 회원 조회*/
			SELECT
			mm.mm_code,
			mm.mm_id,
			mm.mm_membership_code,
			mm.mm_period,
			mm.mm_start_datetime,
			mm.mm_end_datetime
			FROM
			membership_member AS mm
			WHERE
			mm.mm_id = #{mmId};
	</select>		
	
	
	
	
	
	
	
</mapper>