<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="ks45team04.sos.admin.mapper.AdminMembershipMapper">
	
	<resultMap type="Membership" id="MembershipResultMap">
		<id property="membershipCode" 							column="membership_code"/>
		<result property="membershipPeriod" 					column="membership_period"/>
		<result property="membershipAmount" 					column="membership_amount"/>
		<result property="membershipRegManager" 				column="membership_reg_manager"/>
		<result property="membershipRegDatetime" 				column="membership_reg_datetime"/>
	</resultMap>
	

	<update id="modifyMembershipInfo" parameterType="String">
			/* 특정 멤버십 정보 수정 */
		UPDATE 
			membership
		SET 
			membership_period = #{membershipPeriod},
			membership_amount = #{membershipAmount}
		WHERE 
			membership_code= #{membershipCode};
	</update>


	
	
	<select id="getTotalMembershipInfo" parameterType= "String" resultMap="MembershipResultMap">
			/*특정 멤버십 조회*/
			SELECT
			ms.membership_code,
			ms.membership_period,
			ms.membership_amount,
			ms.membership_reg_manager,
			ms.membership_reg_datetime
			FROM
			membership AS ms
			WHERE
			ms.membership_code = #{membershipCode};
	</select>	

	<select id="MembershipList" resultMap="MembershipResultMap">
			/*멤버십 조회*/
			SELECT
			ms.membership_code,
			ms.membership_period,
			ms.membership_amount,
			ms.membership_reg_manager,
			ms.membership_reg_datetime
			FROM
			membership AS ms
		<where>
			<if  test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</where>			
	</select>	
	
</mapper>