<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.PointSaveUseMapper">
	
	<resultMap type="PointSaveUse" id="pointSaveUseResultMap">
		<id property="pointSaveUseCode" 		column="point_save_use_code"/>
		<result property="pointSaveUseId" 		column="point_save_use_id"/>
		<result property="pointSaveUseReason" 	column="point_save_use_reason"/>
		<result property="pointSaveUsePoint" 	column="point_save_use_point"/>
		<result property="totalPoint" 			column="total_point"/>
		<result property="saveUse" 				column="save_use"/>
		<result property="saveUseDatetime" 		column="save_use_datetime"/>
	</resultMap>

	<select id="pointSaveStandardList" resultType="PointSaveStandard">
		/* 포인트 적립기준 조회*/
		SELECT 
			save_point
		FROM
			point_save_standard;
	</select>


	<insert id="pointSaveUseAdd" parameterType="PointSaveUse">
		/* 포인트 적립/사용 등록 */
		INSERT INTO point_save_use
		(
			point_save_use_code, 
			point_save_standard_content, 
			save_point, 
			save_use_datetime
		)VALUES(
			sf_point_save_use_code(), #{pointSaveStandardContent}, #{savePoint}, NOW()
		);
	</insert>

	<select id="pointSaveUseList" resultType="PointSaveUse" resultMap="pointSaveUseResultMap">
		/* 포인트 적립/사용 내역 조회*/
		SELECT 
			point_save_use_code,
			point_save_use_id,
			point_save_use_reason,
			point_save_use_point,
			total_point,
			save_use,
			save_use_datetime	
		FROM
			point_save_use
		<where>
			<if test="searchKey != null and searchKey != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</where>		
	</select>
	
	
</mapper>