<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.PointRefundApprovalMapper">
	
	<resultMap type="PointRefundApproval" id="pointRefundApprovalResultMap">
		<id property="pointRefundCode" 				column="point_refund_code"/>
		<result property="pointRefundId" 			column="point_refund_id"/>
		<result property="refundRequestPoint" 		column="refund_request_point"/>
		<result property="pointRefundFeeRateCode" 	column="point_refund_fee_rate_code"/>
		<result property="pointRefundFee" 			column="point_refund_fee"/>
		<result property="refundPoint" 				column="refund_point"/>
		<result property="refundBank" 				column="refund_bank"/>
		<result property="refundAccountNumber" 		column="refund_account_number"/>
		<result property="refundName" 				column="refund_name"/>
		<result property="refundReuquestDatetime" 	column="refund_request_datetime"/>
		<result property="refundState" 				column="refund_state"/>
		<result property="pointRefundApprovalId" 	column="point_refund_approval_id"/>
		<result property="refundApprovalDatetime" 	column="refund_approval_datetime"/>
	</resultMap>
	
	<update id="modifyPointRefundApproval" parameterType="PointRefundApproval">
		/* 특정 환불 승인 내역 수정*/
		UPDATE 
				point_refund
		SET 
				refund_state = #{refundState}
		WHERE 
				point_refund_code= #{pointRefundCode};
	
	</update>
	
	<select id="getPointRefundApprovalByCode" parameterType="String" resultMap="pointRefundApprovalResultMap">
		/* 특정 환불 승인 내역 조회 */
		SELECT
			*
		FROM
			point_refund
		WHERE
			point_refund_code = #{pointRefundCode};
	</select>
	
	<select id="pointRefundApprovalList" resultMap="pointRefundApprovalResultMap">
		/* 포인트 환급 신청 내역 조회*/
		SELECT
			*
		FROM
			point_refund;
			
	</select>
	
</mapper>