<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.admin.mapper.SubjectPassScoreMapper">
	
	<resultMap type="SubjectPassScore" id="subjectPassScoreResultMap">
		<id 	property="lsPScoreCode" 			column="ls_p_score_code"/>
		<result property="liCode" 					column="li_code"/>
		<result property="lsCode" 					column="ls_code"/>
		<result property="lsName" 					column="ls_name"/>
		<result property="lsTotalQuestionNum" 		column="ls_total_question_num"/>
		<result property="lsPStandardScore" 		column="ls_p_standard_score"/>
		<result property="lsPScoreRegId" 			column="ls_p_score_reg_id"/>
		<result property="lsPScoreRegDateTime" 		column="ls_p_score_reg_datetime"/>
	</resultMap>
	
	<select id="getsubjectPassScoreList" resultMap="subjectPassScoreResultMap">
	
	</select>
</mapper>