<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.member.mapper.ChallengeMapper">

	 <resultMap type="ChallengeGoal" id="challengeResultMap">
		<id 	property="cgCode" 					column="cg_code"/>
		<result property="cgId" 					column="cg_id"/>		
		<result property="cgLiCode" 				column="cg_li_code"/>		
		<result property="cgLiSubjectCode" 			column="cg_li_subject_code"/>		
		<result property="cgLiName" 				column="cg_li_name"/>		
		<result property="cgLiSubject" 				column="cg_li_subject"/>		
		<result property="cgLiSubjectName" 			column="cg_li_subject_name"/>		
		<result property="cgGoalTitle" 				column="cg_goal_title"/>		
		<result property="cgContent" 				column="cg_content"/>		
		<result property="cgStudyTime" 				column="cg_study_time"/>		
		<result property="cgStartDatetime" 			column="cg_start_datetime"/>		
		<result property="cgEndDatetime" 			column="cg_end_datetime"/>		
		<result property="cgRegDatetime" 			column="cg_reg_datetime"/>		
	</resultMap>
	<resultMap type="LicenseInfo" id="licenseInfoResultMap">
		<id property="liCode" 				column="li_code"/>
		<result property="lmcCode" 			column="lmc_code"/>
		<result property="lmcName" 			column="lmc_name"/>
		<result property="lscCode" 			column="lsc_code"/>
		<result property="lscName" 			column="lsc_name"/>
		<result property="liName" 			column="li_name"/>
		<result property="liOverview" 		column="li_overview"/>
		<result property="liQualification" 	column="li_qualification"/>
		<result property="liRegId" 			column="li_reg_id"/>
		<result property="liRegDatetime" 	column="li_reg_datetime"/>
	</resultMap>
	<resultMap type="LicenseMain" id="licenseMainResultMap">
		<id property="lmcCode" 				column="lmc_code"/>
		<result property="lmcRegId" 		column="lmc_reg_id"/>
		<result property="lmcName" 			column="lmc_name"/>
		<result property="lmcRegDatetime" 	column="lmc_reg_datetime"/>
	</resultMap>
	<resultMap type="LicenseSub" id="licenseSubResultMap">
		<id property="lscCode" 				column="lsc_code"/>
		<result property="lmcCode" 			column="lmc_code"/>
		<result property="lmcName" 			column="lmc_name"/>
		<result property="lscName" 			column="lsc_name"/>
		<result property="lscRegId" 		column="lsc_reg_id"/>
		<result property="lscRegDatetime" 	column="lsc_reg_datetime"/>
	</resultMap>
	<resultMap type="LicenseSubject" id="licenseSubjectResultMap">
		<id property="lsCode" 				column="ls_code"/>
		<result property="liCode" 			column="li_code"/>
		<result property="liName" 			column="li_name"/>
		<result property="lsSubject" 		column="ls_subject"/>
		<result property="lsName" 			column="ls_name"/>
		<result property="lsRegId" 			column="ls_reg_id"/>
		<result property="lsRegDatetime" 	column="ls_reg_datetime"/>
	</resultMap>
	
 	
 	<insert id="addChallenge" parameterType="String">
		/* 문제 등록 */
		INSERT INTO challenge
		(cg_code, cg_id, cg_li_code, cg_li_subject_code, cg_li_name, cg_li_subject, cg_li_subject_name, cg_goal_title, cg_content, cg_study_time, cg_start_datetime, ct_end_datetime, cg_reg_datetime)
		VALUES
		(#{cgCode}, #{cgId}, #{cgLiCode}, #{cgLiSubjectCode}, #{cgLiName}, #{cgLiSubject}, #{cgLiSubjectName}, #{cgGoalTitle}, #{cgContent}, #{cgStudyTime}, NOW(), NULL ,NOW());
	</insert>
	<select id="getNewChallengeCode" parameterType="String" resultType="String">
		/* 문제코드 자동생성 */
		SELECT
			CASE
			WHEN COUNT(1) = 0 THEN CONCAT(#{cgCode}, '_1')
		ELSE
			CONCAT('cg_', MAX(CAST(SUBSTRING_INDEX(${cgCode}, 'cg_', -1)AS UNSIGNED))+1)
			END AS newCode
		FROM
			${challenge_goal};
	</select>
	<select id="getSubjectInfoForChallenge" resultMap="licenseSubjectResultMap" parameterType="String">
		/* 과목별 과목정보조회 */
		SELECT
			 ls.ls_code
			,ls.li_name
			,ls.li_code
			,ls.ls_subject
			,ls.ls_name
			,ls.ls_reg_id
			,ls.ls_reg_datetime
		FROM
			license_subject AS ls
		WHERE
			ls.ls_code = #{lsCode};	
	</select>
	<select id="getSubjectListForChallenge" resultMap="licenseSubjectResultMap" parameterType="String">	
		/* 자격증별 과목 목록조회 */
		SELECT
			ls.ls_code
		   ,ls.ls_subject
		FROM  
		    license_subject AS ls
		WHERE
		    ls.li_code = #{liCode};
	</select> 
	<select id="getLiListForChallenge" resultMap="licenseInfoResultMap" parameterType="String">	
		/* 중분류별 자격증 목록조회 */
		SELECT 
			 li.li_code
			,li.lmc_code
			,li.lmc_name
			,li.lsc_code
			,li.lsc_name
			,li.li_name
			,li.li_overview
			,li.li_qualification
			,li.li_reg_id
			,li.li_reg_date
		FROM
			license_info AS li
		WHERE 
			li.lsc_code = #{lscCode};	
	</select>
	<select id="getSubListForChallenge" resultMap="licenseSubResultMap" parameterType="String">	
		/* 대분류별 중분류 목록조회 */
		SELECT 
			 ls.lsc_code
			,ls.lmc_code
			,ls.lmc_name
			,ls.lsc_name
			,ls.lsc_reg_id
			,ls.lsc_reg_datetime 
		FROM
			license_sub_category AS ls
		WHERE 
			ls.lmc_code = #{lmcCode};
	</select>
	<select id="getMainListForChallenge" resultMap="licenseMainResultMap">
		/* 대분류 목록조회 */
		SELECT
			  lm.lmc_code
			 ,lm.lmc_name
		FROM
			license_main_category AS lm;	
	</select>	
	
</mapper>