<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.member.mapper.MemberMapper">
	
	<resultMap type="Member" id="MemberResultMap">
		<id property="memId" 					column="mem_id"/>
		<result property="memPw" 				column="mem_pw"/>
		<result property="memName" 				column="mem_name"/>
		<result property="memEmail" 			column="mem_email"/>
		<result property="memBirth" 			column="mem_birth"/>
		<result property="memPhone" 			column="mem_phone"/>
		<result property="memRegDatetime" 		column="mem_reg_datetime"/>
	</resultMap>
	
	
	<select id="MemberList" resultMap="MemberResultMap">
			/* 본인 정보 조회 */
			SELECT
				m.mem_id,
				m.mem_pw,
				m.mem_name,
				m.mem_email,
				m.mem_birth,
				m.mem_phone,
				m.mem_reg_datetime
			FROM
				member AS m
			where
				m.mem_id = #{memberId};
			
	</select>
</mapper>