<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks45team04.sos.member.mapper.MPayMapper">
	
	<resultMap type="Pay" id="mPayResultMap">
		<id property="payId" 					column="pay_id"/>
		<result property="payCompleteCode" 		column="pay_complete_code"/>
		<result property="goodsName" 			column="goods_name"/>
		<result property="totalPayPrice" 		column="total_pay_price"/>
		<result property="payUsePoint" 			column="pay_use_point"/>
		<result property="finalPayPrice" 		column="final_pay_price"/>
		<result property="payCompleteDatetime" 	column="pay_complete_datetime"/>
	</resultMap>
	
	<select id="mPayList" resultMap="mPayResultMap">
		/* 결제 내역 조회*/
		SELECT
			pay_id,
			pay_complete_code,
			goods_name,
			total_pay_price,
			pay_use_point,
			final_pay_price,
			pay_complete_datetime	
		FROM
			pay_complete;
	
	</select>
	

	
</mapper>