<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">  
                <h1>멤버십 등록</h1>
                <p class="pxp-text-light">Add Membership</p>
                <form>
                    <div class="row mt-2 mt-lg-3">
                        <div class="col-xxl-3">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">멤버십명</label>
                                <input type="text" id="pxp-candidate-Password" class="form-control" placeholder="멤버십 명">
                            </div>
                         </div>                            
                     </div>                 
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-3">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">기간</label>
                                <input type="text" id="pxp-candidate-Password" class="form-control" placeholder="기간">
                            </div>
                         </div>                            
                     </div>
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-3">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">가격</label>
                                <input type="text" id="pxp-candidate-Password" class="form-control" placeholder="가격">
                            </div>
                         </div>                            
                     </div>                                               
                                                     

                    <div class="mt-2 mt-lg-4">
                            <a href="/memberShipList" class="btn rounded-pill pxp-section-cta">등록하기</a></button>  &emsp;&emsp;
                    </div>   
	</th:block>
	<!-- customContents end -->

	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>