<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents"> 
                <h1>멤버십 정보 조회 / 수정</h1>
                <p class="pxp-text-light">MembershipInfo</p>
                <form id="totalMembershipInfoForm" th:action="@{/totalMembershipInfo}" name="totalMembershipInfoform" method="post">
                    <div class="row mt-2 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">멤버십코드</label>
                                <input type="text" id="membershipCode" class="form-control" name="membershipCode" th:value="${totalMembershipInfo.membershipCode}">
                            </div>
                         </div>                            
                     </div>                 
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">기간</label>
                                <input type="text" id="membershipPeriod" class="form-control" name="membershipPeriod" th:value="${totalMembershipInfo.membershipPeriod}">
                            </div>
                         </div>                            
                     </div>
                    <div class="row mt-1 mt-lg-3">
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Password" class="form-label">가격</label>
                                <input type="text" id="membershipAmount" class="form-control" name="membershipAmount" th:value="${totalMembershipInfo.membershipAmount}">
                            </div>
                         </div>                            
                     </div>                                               
                    <div class="row mt-1 mt-lg-3">                          
                        <div class="col-xxl-8">
                            <div class="mb-1">
                                <label for="pxp-candidate-Email" class="form-label">등록자</label>
                                <input type="text" id="membershipRegManager" class="form-control" name="membershipRegManager" th:value="${totalMembershipInfo.membershipRegManager}">
                            </div>                            
                            </div>
                         </div>                                                                                        
                      <div class="mt-2 mt-lg-4">
                            <a href="/MembershipList" class="btn rounded-pill pxp-section-cta"  onclick="alert('수정이 완료되었습니다.')">수정하기</a></button>  &emsp;&emsp; <a href="/totalMemberList"  class="btn rounded-pill pxp-section-cta">취소</a>
                    </div>   
	</th:block>
	<!-- customContents end -->	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>