<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">
<head>
    <style>
    h1,p{
    text-align:center;
    }
    th,td{
    text-align:center;
    }
    </style>
</head>

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<section class="mt-100">
            <div class="pxp-container">
                <h2 class="pxp-section-h2 text-center">포인트 적립 기준</h2>
                <p class="pxp-text-light text-center">Point save standard</p>

                <div class="row justify-content-evenly mt-4 mt-md-5 pxp-animate-in pxp-animate-in-top">
                    <div class="col-lg-4 col-xl-3 pxp-services-1-item-container">
                        <div class="pxp-services-1-item text-center pxp-animate-icon">
                            <div class="pxp-services-1-item-icon">
                                <img src="images/website.png" alt="Candidate">
                            </div>
                            <div class="pxp-services-1-item-title">회원가입</div>
                            <div class="pxp-services-1-item-text pxp-text-light">500 포인트 적립</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 pxp-services-1-item-container">
                        <div class="pxp-services-1-item text-center pxp-animate-icon">
                            <div class="pxp-services-1-item-icon">
                                <img src="images/goal.png" alt="Employer">
                            </div>
                            <div class="pxp-services-1-item-title">챌린지 성공</div>
                            <div class="pxp-services-1-item-text pxp-text-light">300 포인트 적립</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 pxp-services-1-item-container">
                        <div class="pxp-services-1-item text-center pxp-animate-icon">
                            <div class="pxp-services-1-item-icon">
                                <img src="images/rating.png" alt="Press">
                            </div>
                            <div class="pxp-services-1-item-title">노트 구매 리뷰</div>
                            <div class="pxp-services-1-item-text pxp-text-light">300 포인트 적립</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 pxp-services-1-item-container">
                        <div class="pxp-services-1-item text-center pxp-animate-icon">
                            <div class="pxp-services-1-item-icon">
                                <img src="images/reviews.png" alt="Press">
                            </div>
                            <div class="pxp-services-1-item-title">합격자 리뷰 작성</div>
                            <div class="pxp-services-1-item-text pxp-text-light">1000 포인트 적립</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br><br><br><br><br>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>


	