<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  class="pxp-root" >
<!-- fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수 이름 -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
    h1,p{
    text-align:center;
    }
    th,td{
    text-align:center;
    }
    </style>
</head>

<body>
	<div class="pxp-preloader"><span>Loading...</span></div>
	
		<!-- begin header -->
		<div th:replace="~{member/fragments/contentsHeader :: headerFragment}"></div>
		<!-- end header -->			
		
		<!--  begin contents -->
		<section>
			<div class="pxp-container">
				<div class="mt-4 mt-lg-5">
                	<div class="pxp-dashboard-content-details">
	                <h1>포인트 적립 기준</h1>
	                <p class="pxp-text-light">Point save standard</p>
	
	                <div class="mt-4 mt-lg-5">
	                    <div class="table-responsive">
	                        <table class="table table-hover align-middle">
	                            <thead>
	                                <tr>
	                                    <th style="width: 30%;">번호</th>
	                                    <th style="width: 30%;">적립 내용</th>
	                                    <th style="width: 30%;">적립 포인트</th>
	                                    
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td><div class="pxp-company-dashboard-subscriptions-plan">1</div></td>
	                                    <td><div class="pxp-company-dashboard-subscriptions-status">회원가입</div></td>
	                                    <td><div class="pxp-company-dashboard-job-date">500</div></td>
	                                </tr>
	                                <tr>
	                                    <td><div class="pxp-company-dashboard-subscriptions-plan">2</div></td>
	                                    <td><div class="pxp-company-dashboard-subscriptions-status">챌린지 성공</div></td>
	                                    <td><div class="pxp-company-dashboard-job-date">300</div></td>
	                                </tr>
	                                <tr>
	                                    <td><div class="pxp-company-dashboard-subscriptions-plan">3</div></td>
	                                    <td><div class="pxp-company-dashboard-subscriptions-status">노트 구매 리뷰</div></td>
	                                    <td><div class="pxp-company-dashboard-job-date">300</div></td>
	                                </tr>
	                                <tr>
	                                	<td><div class="pxp-company-dashboard-subscriptions-plan">4</div></td>
	                                    <td><div class="pxp-company-dashboard-subscriptions-status">합격자 리뷰 작성</div></td>
	                                    <td><div class="pxp-company-dashboard-job-date">1000</div></td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
                	</div>
            	</div>
               </div>
            </div>
		</section>
		<!--  end contents -->

			
		<!-- begin footer -->
		<div th:replace="~{member/fragments/contentsFooter :: footerFragment}"></div>
		<!-- end footer -->
			
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/nav.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>