<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
		<section>
			<div class="pxp-container">
				<br><br><br>
				<h1><strong>기출문제 생성</strong></h1>
                <div class="pxp-hero-subtitle pxp-text-light">Add exam paper</div>
                <br>
                <div class="pxp-hero-form pxp-hero-form-round pxp-large mt-3 mt-lg-4">
                    <form class="row gx-3 align-items-center">
                        <div class="col-12 col-lg">
                            <div class="input-group mb-3 mb-lg-0">
                                <span class="input-group-text"><span class="fa fa-check"></span></span>
                                <select class="form-select">
                                    <option selected>대분류</option>
                                    <option>대분류</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg pxp-has-left-border">
                            <div class="input-group mb-3 mb-lg-0">
                                <span class="input-group-text"><span class="fa fa-check"></span></span>
                                <select class="form-select">
                                    <option selected>중분류</option>
                                    <option>중분류</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg pxp-has-left-border">
                            <div class="input-group mb-3 mb-lg-0">
                                <span class="input-group-text"><span class="fa fa-check"></span></span>
                                <select class="form-select">
                                    <option selected>자격증명</option>
                                    <option>자격증명</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg pxp-has-left-border">
                            <div class="input-group mb-3 mb-lg-0">
                                <span class="input-group-text"><span class="fa fa-check"></span></span>
                                <select class="form-select">
                                    <option selected>문제유형</option>
                                    <option>문제유형</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto">
                            <button type="button" onclick="location.href='/addExamAnswer'">시험지생성</button>
                        </div>    
                    </form>
                </div>
			</div>
		</section>
		<br><br><br><br>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

