<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/contentDefault}">
	<head>
		<link rel="stylesheet" th:href="@{/css/examAnswer.css}">
	</head>  
	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<br><br><br>
		<div align="center">		
			<h1><strong>기출문제 풀이</strong></h1>
	        <div class="pxp-hero-subtitle pxp-text-light">가나다라마바사아자차카타파하가나다라마바사아</div>
		</div>
		<section class="pxp-page-header-simple" style="background-color: var(--pxpMainColorLight);">
            <div class="pxp-container">
                <div class="pxp-hero-form pxp-hero-form-round pxp-large mt-3 mt-lg-4">
                    <form class="row gx-3 align-items-center">
                        <div class="col-12 col-lg">
                            <div class="input-group mb-3 mb-lg-0">
                                <span class="input-group-text">&emsp;&emsp;<strong>자격증명</strong>
                                	<input type="text" class="form-control" value="정보처리기사" disabled="disabled">
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg">
                            <div class="input-group mb-3 mb-lg-0 pxp-has-left-border">
                                <span class="input-group-text"><strong>과목</strong>
                                	<input type="text" class="form-control" value="1과목 " disabled="disabled">
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg">
                            <div class="input-group mb-3 mb-lg-0 pxp-has-left-border">
                                <span class="input-group-text"><strong>과목명</strong>
                                	<input type="text" class="form-control" value="소프트웨어 설계" disabled="disabled">
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg">
                            <div class="input-group mb-3 mb-lg-0 pxp-has-left-border">
                                <span class="input-group-text"><strong>풀이시간</strong>
                                	<input type="text" class="form-control" value="00:20:00" disabled="disabled">&emsp;&emsp;
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       
        <br><br>
			<div id="container">
	   			<br/>
	  			<div id='quiz'></div>
	  			<div class="row">
		  			<div class="btn-group col-12 justify-content-center">
			    		<div class="button" id="prev"><a href="#">이전문제</a></div>
						<div class="button" id="next"><a href="#">다음문제</a></div>
		  			</div>
	  			</div>
	    		<div class="button" id='start' onclick="location.href='/checkExamResult'">풀이완료</div>
    		</div>
        </section>
        <br><br><br><br><br>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
		<script src="js/examAnswer.js"></script>
	</th:block>
	<!-- customJs end -->

</html>

