<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
 	<h1><a th:href="@{/licenseInofoList}">자격증 정보</a></h1>
                <p class="pxp-text-light"></p>
                <div class="mt-4 mt-lg-5"  style="overflow-x: hidden">
            <button  class="btn rounded-pill pxp-section-cta-o ms-3">
		        <a th:href="@{/addlicenseInfo}">자격증 정보 등록</a><br><br>
	        </button>
 <!-- 검색 start -->
 <div>
  <form th:action="@{/licenseInofoList}" method="GET">
    <div class="row justify-content-between align-content-center">
        <div class="col-auto order-2 order-sm-1">
            <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                <div class="pxp-company-dashboard-jobs-search mb-3">
                <select class="form-select" style="width:200px;" name="searchKey">
                    <option value="liCode">자격증코드</option>
                    <option value="liName">자격증명</option>
                    <option value="lmcName">대분류명</option>
                    <option value="lscName">중분류명</option>
                    <option value="liRegDatetime">등록날짜</option>
               </select>&nbsp;&nbsp;
                    <div class="col-auto order-1 order-sm-2">
                        <div class="pxp-company-dashboard-jobs-search-search-form">
                            <div class="input-group">
                                <span class="input-group-text"><span class="fa fa-search"></span></span>
                                <input type="text" class="form-control" placeholder="검색어를 입력해주세요." name="searchValue">
                                <button class="btn ms-2" type="submit">검색</button>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
   	</div>
 </form>
 </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive" >
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th style="width: 10%;">자격증코드</th>
                                    <th style="width: 10%;">대분류명</th>                                
                                    <th style="width: 10%;">중분류명</th>
                                    <th style="width: 10%;">자격증명</th>
                                    <th style="width: 35%;">개요</th>
                                    <th style="width: 15%;">응시자격</th>
                                    <th style="width: 10%;">등록자</th>
                                    <th style="width: 15%;">등록일</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(licenseInfoList)}"
									th:each="l : ${licenseInfoList}">
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.liCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.licenseMain.lmcName}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.licenseSub.lscName}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liName}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liOverview}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liQualification}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liRegId}"></div></td>                      
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liRegDatetime}"></div></td>   
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            <!-- 수정버튼 start -->
                                                <a th:href="@{/modifylicenseInfo(liCode=${l.liCode})}">
                                                	<li><button title="Edit"><span class="fa fa-pencil"></span></button></li>
                                                </a>
                                            <!-- 수정버튼 end -->
                                            <!-- 삭제버튼 start -->
                                                <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                            <!-- 삭제버튼 end -->                                               
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(licenseInfoList)}">
									<td colspan="9">등록된 자격증 정보가 없습니다.</td>
								</tr>                    
                            </tbody>
                        </table>
						<!-- pagination start -->
					<div class="row mt-4 mt-lg-5 justify-content-center align-items-center" >
					    <div class="col-auto">
					        <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
					            <ul class="pagination pxp-pagination">
					            	<li class="page-item"><a class="page-link" th:href="@{/licenseInofoList}">첫페이지</a></li>
					            	<li class="page-item"><a class="page-link" th:if="${currentPage > 1}" th:href="@{/licenseInofoList(currentPage=${currentPage - 1})}">이전</a></li>
					            	<li><span th:unless="${currentPage > 1}" ></span></li>
					            	<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
					            		<li class="page-item"><a class="page-link" th:if="${currentPage != num}" th:href="@{/licenseInofoList(currentPage=${num})}" th:text="${num}"></a></li>
										<li class="page-item"><span class="page-link" th:if="${currentPage == num}" style="background-color:#eeeeee">[[${num}]]</span></li>     								     
					            	</th:block>
					            	<li class="page-item"><a class="page-link" th:if="${currentPage < lastPage}" th:href="@{/licenseInofoList(currentPage=${currentPage + 1})}">다음</a></li>
									<li><span th:unless="${currentPage < lastPage}" ></span></li>
					            	<li class="page-item"><a class="page-link" th:href="@{/licenseInofoList(currentPage=${lastPage})}">마지막페이지</a></li>
					            </ul>
					        </nav>
						</div>
					</div>
					<!-- pagination end -->
                    </div>
                <!-- 목록 end -->    
                </div> 	
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

              
    