<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
		$('#resetBtn').click(function(){
			location.href = '/licenseInofoList';
		});
	});
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
<h1><a th:href="@{/licenseInofoList}">자격증 정보 수정</a></h1>
		<form id="modifyLicenseInfoForm" th:action="@{/modifylicenseInfo}" name="myform" method="post">
              <div class="row mt-4 mt-lg-5">
                  <div class="col-xxl-8">
                      <div class="row">      
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lmcName" class="form-label"><h6>자격증 대분류명</h6></label><h12></h12>
                                  <input type="text" id="lmcName" class="form-control" name="lmcName" placeholder="자격증 대분류명"
                                  		 th:value="${licenseInfo.licenseMain.lmcName}" readonly="readonly">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lscName" class="form-label"><h6>자격증 중분류명</h6></label><h12></h12>
                                  <input type="text" id="lscName" class="form-control" name="lscName" placeholder="자격증 대분류명"
                                  		 th:value="${licenseInfo.licenseSub.lscName}" readonly="readonly">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liCode" class="form-label"><h6>자격증 코드</h6></label><h12></h12>
                                  <input type="text" id="liCode" class="form-control" name="liCode" placeholder="자격증 코드"
                                  		 th:value="${licenseInfo.liCode}" readonly="readonly">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liName" class="form-label"><h6>자격증 이름</h6></label>
                                  <input type="text" id="liName" class="form-control" name="liName" placeholder="자격증 이름"
                                         th:value="${licenseInfo.liName}">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liOverview" class="form-label"><h6>자격증 개요</h6></label>
                                  <input type="text" id="liOverview" class="form-control" name="liOverview" placeholder="자격증 개요"
                                         th:value="${licenseInfo.liOverview}">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="liQualification" class="form-label"><h6>자격증 응시자격</h6></label>
                                  <input type="text" id="liQualification" class="form-control" name="liQualification" placeholder="자격증 응시자격"
                                         th:value="${licenseInfo.liQualification}">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="mt-4 mt-lg-5">
                  <button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
              </div>
          </form>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>