<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header>      
            <div class="pxp-dashboard-content-header" th:fragment="headerFragment">              
                <nav class="pxp-user-nav pxp-on-light">
                    <a href="company-dashboard-new-job.html" class="btn rounded-pill pxp-nav-btn">버튼뭐할지모름</a>
                 
                    <div class="dropdown pxp-user-nav-dropdown">
                        <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <div class="pxp-user-nav-avatar pxp-cover" style="background-image: url(images/company-logo-1.png);"></div>
                            <div class="pxp-user-nav-name d-none d-md-block">관리자아이디나이름</div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">#메뉴1</a></li>
                            <li><a class="dropdown-item" href="#">#메뉴2</a></li>
                            <li><a class="dropdown-item" href="#">#Logout</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
</header>	
</html>