<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  	  
	<aside>
		<div class="pxp-dashboard-side-panel d-none d-lg-block" th:fragment="asideFragment">
             <div class="pxp-logo">
                <a href="/main" class="pxp-animate"><span style="color: var(--pxpMainColor)">S</span>aveY<span style="color: var(--pxpMainColor)">O</span>urLicen<span style="color: var(--pxpMainColor)">S</span>e</a>
             </div>

            <nav class="mt-3 mt-lg-4 d-flex justify-content-between flex-column pb-100">
                <ul class="list-unstyled">
                    <li class="pxp-active"><a href="/admin"><span class="fa fa-home"></span>#HOME</a></li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Member</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/totalMemberList">#회원전체목록</a></li>
									<li><a class="dropdown-item" href="/withdrawalMemberList">#탈퇴회원목록</a></li>
									<li><a class="dropdown-item" href="/cheatMemberJudge">#부정회원신고목록</a></li>
									<li><a class="dropdown-item" href="/cheatMemberList">#부정회원목록</a></li>
									<li><a class="dropdown-item" href="/passMemberJudge">#합격인증신청목록</a></li>
									<li><a class="dropdown-item" href="/totalPassMemberList">#합격회원목록</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Membership</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/addMembership">#멤버십 등록</a></li>
									<li><a class="dropdown-item" href="/modifyMembership">#멤버십 수정</a></li>
									<li><a class="dropdown-item" href="/removeMembership">#멤버십 삭제</a></li>
									<li><a class="dropdown-item" href="/membershipList">#멤버십 회원목록</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Login/Logout</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/totalLoginHistory">#로그인/로그아웃 내역</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Pay/Refund</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/payDelete">#결제(취소/조회)</a></li>
									<li><a class="dropdown-item" href="/refundArroval">#환불 승인</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Point</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/addPointSaveStandard">#적립기준 등록</a></li>
									<li><a class="dropdown-item" href="/modifyPointSaveStandard">#적립기준 수정</a></li>
									<li><a class="dropdown-item" href="/deletePointSaveStandard">#적립기준 삭제</a></li>
									<li><a class="dropdown-item" href="/pointSaveStandardList">#적립기준 조회</a></li>
									<li><a class="dropdown-item" href="/addPointfeeRate">#수수료율 등록</a></li>
									<li><a class="dropdown-item" href="/modifyPointfeeRate">#수수료율 수정</a></li>
									<li><a class="dropdown-item" href="/deletePointfeeRate">#수수료율 삭제</a></li>
									<li><a class="dropdown-item" href="/pointFeeRateList">#수수료율 조회</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Sales</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/mainSales">#매출 메인</a></li>
									<li><a class="dropdown-item" href="/listDailySales">#일별매출관리</a></li>
									<li><a class="dropdown-item" href="/listMonthlySales">#월별매출관리</a></li>
									<li><a class="dropdown-item" href="/listAnnualSales">#년별매출관리</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>License</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/licenseMainList">자격증대분류</a></li>
									<li><a class="dropdown-item" href="/licenseSubList">자격증중분류</a></li>
									<li><a class="dropdown-item" href="/licenseInofoList">자격증 정보</a></li>
									<li><a class="dropdown-item" href="/licenseSubjectList">자격증 과목</a></li>
									<li><a class="dropdown-item" href="/licenseDateList">자격증 일정</a></li>
								</ul>
		                </li>
		                <li class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>#Exam</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/licensePassScoreList">#합격기준점수관리</a></li>
									<li><a class="dropdown-item" href="/qSettingList">#문제/답안/해설관리</a></li>
									<li><a class="dropdown-item" href="/examTypeList">#시험유형관리</a></li>
								</ul>
		                </li>
		                <li class="dropdown">

							<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>Note</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/noteSellTotalList">노트판매내역</a></li>
									<li><a class="dropdown-item" href="/downloadCountStandardList">다운로드횟수 기준</a></li>
									<li><a class="dropdown-item" href="/downloadRecordList">다운로드 횟수 조회</a></li>
								</ul>
		                </li>
		                <li class="dropdown">

							<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><span class="fa fa-pencil"></span>QnA</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/QnaQuestionList">1:1 문의 조회</a></li>
								</ul>
		                </li>
               		</ul>
            	</nav>
            </div>
        </div>
	</aside>	  	  
</html>