<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
             <h1>합격 인증 여부 조회</h1>
                <p class="pxp-text-light">Pass Request Judge</p>
                <div class="mt-4 mt-lg-5">
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-2 order-sm-1">
                            <div class="pxp-company-dashboard-jobs-bulk-actions mb-3">
                            </div>
                        </div>
                        
                    </div>
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                    <th style="width: 30%;">ID</th>
                                    <th style="width: 20%;">자격증</th>
                                    <th style="width: 20%;">신청일시</th>
                                    <th style="width: 20%;">승인일시</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr>
 		                          <tr th:if="${not #lists.isEmpty(passMemberList)}" th:each="pl : ${passMemberList}">
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${pl.pmId}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${pl.pmLiCode}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${pl.pmDatetime}"></div></td>  
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${pl.pmRegDatetime}"></div></td>  
                                </tr>                      
                            </tbody>
                        </table>
                    </div>
                <!-- 목록 end -->    
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>

