<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{member/layout/myPageDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
                <h1>합격회원 인증 신청</h1>
                <p class="pxp-text-light">Pass Member Request</p>
                <form>
                    <div class="row mt-4 mt-lg-5">  
                    <!-- 자격증선택 start -->                
                	<h2><strong><span class="fa fa-check"></span>합격 회원 인증 방법</strong></h2>
                        <div>
                            <h3>자격증 명, 시험 날짜, 본인 이름, 합격 점수, 합격 여부가 나온 증명서를 아래 메일로 보내주세요! </h3>
                            	<div><strong>soosuu99@naver.com</strong></div>
                        </div>
        </form> 
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>
                                     
