<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<h1>노트구매자 다운로드 횟수</h1>
                <p class="pxp-text-light"></p>
                <div class="mt-4 mt-lg-5">  
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                	<th></th>
                                    <th style="width: 15%;">노트다운로드코드</th>
                                    <th style="width: 10%;">노트코드</th>
                                    <th style="width: 10%;">자격증코드</th>
                                    <th style="width: 15%;">구매자아이디</th>
                                    <th style="width: 15%;">다운로드남은횟수</th>
                                    <th style="width: 20%;">다운로드최종일시</th>
                                    <th style="width: 20%;">다운가능여부</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(downloadRecordList)}"
									th:each="l : ${downloadRecordList}">
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.dcrCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.noteCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liCode}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.dcrId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.noteDownloadCount}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.noteDownloadDatetime}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.noteDownloadAble}"></div></td>
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            <!-- 수정버튼 start -->
                                                <a href="#">
                                                	<li><button title="Edit"><span class="fa fa-pencil"></span></button></li>
                                                </a>
                                            <!-- 수정버튼 end -->
                                            <!-- 삭제버튼 start -->
                                                <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                            <!-- 삭제버튼 end -->                                               
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(downloadRecordList)}">
									<td colspan="9">등록된 정보가 없습니다.</td>
								</tr>                    
                            </tbody>
                        </table>
                    </div>
                <!-- 목록 end -->    
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>