<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">

	<!-- script start -->
	<th:block layout:fragment="customScript">
	<script>
	</script>
	</th:block> 
	<!-- script end -->
	
	<!-- customContents start -->
	<th:block layout:fragment="customContents">
	<h1>자격증과목</h1>
                <p class="pxp-text-light"></p>
                <div class="mt-4 mt-lg-5">
                    <!-- 검색 start -->
                    <div class="row justify-content-between align-content-center">
                        <div class="col-auto order-1 order-sm-2">
                            <div class="pxp-company-dashboard-jobs-search mb-3">
                                <div class="pxp-company-dashboard-jobs-search-search-form">
                                    <div class="input-group">
                                        <span class="input-group-text"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="검색">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 검색 end -->   
                    <!-- 목록 start -->                   
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">                      	
                            <thead>                    
                                <tr>
                                	<th></th>
                                    <th style="width: 12%;">판매내역코드</th>
                                    <th style="width: 10%;">노트코드</th>
                                    <th style="width: 11%;">작성자아이디</th>
                                    <th style="width: 10%;">자격증코드</th>
                                    <th style="width: 12%;">노트리뷰개수</th>
                                    <th style="width: 12%;">노트판매개수</th>
                                    <th style="width: 15%;">노트리뷰누적점수</th>
                                    <th style="width: 25%;">리뷰누적최종일시</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr th:if="${not #lists.isEmpty(noteSellTotalList)}"
									th:each="l : ${noteSellTotalList}">
                                    <td><input type="checkbox" class="form-check-input"></td>
                                    <td><div class="pxp-company-dashboard-job-title" th:text="${l.nstlCode}"></div>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.noteCode}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.nstlId}"></div></td>
                                    <td><div class="pxp-company-dashboard-job-category" th:text="${l.liCode}"></div></td>
                                     <td><div class="pxp-company-dashboard-job-category" th:text="${l.noteReviewCount}"></div></td>
                                      <td><div class="pxp-company-dashboard-job-category" th:text="${l.noteSellCount}"></div></td> 
                                      <td><div class="pxp-company-dashboard-job-category" th:text="${l.notePurchaseReviewAccumlate}"></div></td>    
                                      <td><div class="pxp-company-dashboard-job-category" th:text="${l.reviewAccumlateFinal}"></div></td>                         
                                    
                                    <td>
                                        <div class="pxp-dashboard-table-options">
                                            <ul class="list-unstyled">
                                            <!-- 수정버튼 start -->
                                                <a href="#">
                                                	<li><button title="Edit"><span class="fa fa-pencil"></span></button></li>
                                                </a>
                                            <!-- 수정버튼 end -->
                                            <!-- 삭제버튼 start -->
                                                <li><button title="Delete"><span class="fa fa-trash-o"></span></button></li>
                                            <!-- 삭제버튼 end -->                                               
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(noteSellTotalList)}">
									<td colspan="9">등록된 자격증 중분류가 없습니다.</td>
								</tr>                    
                            </tbody>
                        </table>
						<!-- page 넘김 start -->
                        <div class="row mt-4 mt-lg-5 justify-content-center align-items-center">
                            <div class="col-auto">
                                <nav class="mt-3 mt-sm-0" aria-label="Jobs list pagination">
                                    <ul class="pagination pxp-pagination">
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- page 넘김 end -->
                    </div>
                <!-- 목록 end -->    
                </div>
	</th:block>
	<!-- customContents end -->
	
	<!-- customJs start -->
	<th:block layout:fragment="customJs">
	
	</th:block>
	<!-- customJs end -->
</html>