<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminDefault}">
<!-- fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수 이름 -->
	<th:block layout:fragment="customScript">
		<script>
		$(function(){ // 요소가 렌더링이 되고나서 실행해 주세요
			$('#resetBtn').click(function(){
				location.href = '/licenseSubList';
			});
		});
		</script>
	</th:block> 
	<th:block layout:fragment="customContents">
		<h1><a th:href="@{/licenseSubList}">자격증 중분류 수정</a></h1>
		<form id="modifyLicenseSubForm" th:action="@{/modifylicenseSub}" name="myform" method="post">
              <div class="row mt-4 mt-lg-5">
                  <div class="col-xxl-8">
                      <div class="row">
                      </div>
                      <div class="row">
                      </div><br>
                      <div class="row">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lmcName" class="form-label"><h6>자격증 대분류명</h6></label>
                                  <input type="text" id="lmcName" class="form-control" name="lmcName" placeholder="자격증 대분류명" readonly="readonly" 
                                  		 th:value="${licenseSubInfo.lmcName}">
                              </div>
                          </div>
                      </div>  
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lscCode" class="form-label"><h6>자격증 중분류코드</h6></label>
                                  <input type="text" id="lscCode" class="form-control" name="lscCode" placeholder="자격증 중분류코드" readonly="readonly"
                                  		 th:value="${licenseSubInfo.lscCode}">
                              </div>
                          </div>
                      </div>              
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mb-3">
                                  <label for="lscName" class="form-label"><h6>자격증 중분류명</h6></label>
                                  <input type="text" id="lscName" class="form-control" name="lscName" placeholder="자격증 중분류명"
                                  		 th:value="${licenseSubInfo.lscName}">
                              </div>
                          </div>
                      </div>
                      
                  </div>
              </div>
              <div class="mt-4 mt-lg-5">
                  <button type="submit" id="submitBtn" class="btn rounded-pill pxp-section-cta">등록</button>&nbsp;&nbsp;
                  <button type="reset"  id="resetBtn"  class="btn rounded-pill pxp-section-cta">취소</button>
                  
              </div>
          </form>
	
	</th:block>
	
</html>