<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  class="pxp-root" >
<!-- fragments/head.html(html확장자를 제외한 경로) :: (해당 html안에 선언된 조각변수 이름 -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body style="background-color: var(--pxpMainColorLight);">
        <div class="pxp-dashboard-content">
        
        <!-- begin aside -->
		<div th:replace="~{admin/fragments/adminAside :: asideFragment}"></div>
		<!-- end aside -->
		
        <!-- begin header -->
		<div th:replace="~{admin/fragments/adminHeader :: headerFragment}"></div>
		<!-- end header -->
		
		<!-- begin contents --> 
            <div class="pxp-dashboard-content-details">

           license_sub_modify.html         
                  

            </div>
        <!-- end contents -->     
            
        <!-- begin footer -->
			<div th:replace="~{admin/fragments/adminFooter :: footerFragment}"></div>
		<!-- end footer -->
        </div>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/nav.js"></script>
        <script src="js/Chart.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>